In [5]:
#pip install numpy

In [6]:
#pip install pandas

In [9]:
#pip install sklearn

In [57]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)

In [58]:
df = pd.read_csv("/Users/ganesh_dhasade/Documents/kaggle/Titanic Dataset/titanic/train.csv")
TestDataSet = pd.read_csv("/Users/ganesh_dhasade/Documents/kaggle/Titanic Dataset/titanic/test.csv")

In [59]:
TestDataSet2 = TestDataSet.copy()

In [60]:
#-------Preprocessing------

In [66]:
df

,PassengerId,Survived,Pclass,Salutation,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Cabin_Serial,Cabin
0,1,0,3,Mr,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,NaN,NaN
1,2,1,1,Mrs,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C,C85
2,3,1,3,Miss,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,NaN,NaN
3,4,1,1,Mrs,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,C,C123
4,5,0,3,Mr,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,Mr,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,NaN,NaN
887,888,1,1,Miss,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,B,B42
888,889,0,3,Miss,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S,NaN,NaN
889,890,1,1,Mr,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,C,C148
890,891,0,3,Mr,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,NaN,NaN

In [62]:
#check the number of values in each category of Passenger Class.
#df.groupby('Pclass')['Pclass'].agg('count')

In [63]:
#check the number of values in each category of sex.
#df.groupby('Sex')['Sex'].agg('count')

In [64]:
#check the number of values in each category of cabin.
#df.groupby('Salutation')['Salutation'].agg('count')

#I try to get rid of all extra salutation and keep it as 
#Master --> kids
#Miss --> young girls
#Mr --> adult man
#Mrs --> adult women

In [65]:
TestDataSet3 = TestDataSet.copy()

In [67]:
#Remove all unwanted col. like PassengerId and Ticket
df2 = df.drop(['PassengerId','Ticket','Name','Cabin','Cabin_Serial'], axis = 'columns')
TestDataSet3 = TestDataSet3.drop(['PassengerId','Ticket','Name','Cabin','Cabin_Serial'], axis = 'columns')

In [48]:
#TestDataSet

In [49]:
#--------data cleaning------

In [68]:
df3 = df2.copy()

In [27]:
#---------HANDLE NULL VALUES-------

In [69]:
df3.isnull().sum()

Survived        0
Pclass          0
Salutation      0
Sex             0
Age           177
SibSp           0
Parch           0
Fare            0
Embarked        2
dtype: int64

In [70]:
TestDataSet3.isnull().sum()

Pclass         0
Salutation     0
Sex            0
Age           86
SibSp          0
Parch          0
Fare           1
Embarked       0
dtype: int64

In [71]:
df3.shape

(891, 9)

In [72]:
TestDataSet3.shape

(418, 8)

In [73]:
#Drop complete row where embarked is null
df3 = df2.dropna(subset=['Embarked'])
TestDataSet3['Fare'] = TestDataSet3['Fare'].fillna((TestDataSet['Fare'].mean()))
TestDataSet['Fare'] = TestDataSet['Fare'].fillna((TestDataSet['Fare'].mean()))

In [32]:
df3.Age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [23]:
#-----handle null values of age using KNN algorithm------

In [74]:
df4 = df3.copy()

In [75]:
#Get dummies for categorical vairables
df4 = pd.get_dummies(df4)
TestDataSet3 = pd.get_dummies(TestDataSet3)

In [76]:
df4.shape

(889, 15)

In [77]:
TestDataSet3.shape

(418, 14)

In [79]:
df4['Age'] = df4['Age'].round(decimals=0)
TestDataSet3['Age'] = TestDataSet3['Age'].round(decimals=0)

In [29]:
#df4

In [80]:
#Now all age null values move to Test dataset and all values available as train

AgeTrain = df4[df4['Age'].notna()]
AgeTest = df4[df4['Age'].isna()]

#Test dataset

TestDSAgeTrain = TestDataSet3[TestDataSet['Age'].notna()]
TestDSAgeTest = TestDataSet3[TestDataSet['Age'].isna()]

In [31]:
#AgeTrain.shape

In [32]:
#TestDSAgeTrain.shape

In [33]:
#AgeTest.shape

In [34]:
#TestDSAgeTest.shape

In [81]:
AgeTarget = AgeTrain['Age']
TestAgeTarget = TestDSAgeTrain['Age']

In [82]:
AgeIV = AgeTrain.drop(['Age'],axis = 'columns')
TestAgeIV = TestDSAgeTrain.drop(['Age'],axis = 'columns')

In [83]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(AgeIV, AgeTarget, test_size=0.3)
X_Test_train, X_Test_test, y_Test_train, y_Test_test = train_test_split(TestAgeIV, TestAgeTarget, test_size=0.3)

In [84]:
#Import knearest neighbors Classifier model k=50
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn1 = KNeighborsClassifier(n_neighbors=10)
knn2 = KNeighborsClassifier(n_neighbors=10)

In [85]:
#Train the model using the training sets
knn1.fit(X_train, y_train)
knn2.fit(X_Test_train, y_Test_train)

KNeighborsClassifier(n_neighbors=10)

In [86]:
#Predict the response for test dataset
y_pred = knn1.predict(X_test)
y_Test_pred = knn2.predict(X_Test_test)

In [87]:
#Model evaluation for k=5
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy Train dataset:",metrics.accuracy_score(y_test, y_pred))
print("Accuracy Test dataset:",metrics.accuracy_score(y_Test_test, y_Test_pred))

Accuracy Train dataset: 0.028037383177570093
Accuracy Test dataset: 0.05

In [88]:
AgeTest = AgeTest.drop(['Age'], axis='columns')
TestDSAgeTest = TestDSAgeTest.drop(['Age'], axis='columns')

In [89]:
AgeTest.shape

(177, 14)

In [90]:
Age_Predt =  knn1.predict(AgeTest)
Age_Test_Predt =  knn2.predict(TestDSAgeTest)

In [91]:
Age_Predt

array([21., 19., 22., 30., 22., 19., 40., 22., 24., 30., 24., 20., 22.,
       34., 28., 62.,  3., 19., 24., 22., 24., 24., 19., 16., 19., 24.,
       18.,  1.,  1., 22., 17., 48., 35., 62.,  2., 48., 21., 42.,  9.,
       18., 22., 48., 25., 19.,  2., 22., 27.,  4., 22., 21., 18., 22.,
       32., 22., 18., 62., 62., 32., 22., 34., 28., 24., 17., 48.,  4.,
       40., 19.,  4., 28., 30., 22., 22., 20., 22., 22., 52., 19., 18.,
        2., 19., 25., 18., 22., 30., 22., 18.,  4., 27., 26., 24., 35.,
       18., 24., 18., 18., 22., 37., 18.,  2., 26., 17., 21., 21., 35.,
       24., 54., 30., 30., 18., 30.,  4., 28., 23., 19., 18., 18., 24.,
       22., 30., 22.,  9., 17., 24., 22., 28., 30., 19., 16., 25.,  4.,
       18., 18., 18., 21., 16., 18., 19., 22., 19., 21., 35., 18., 16.,
       16., 22.,  3., 62., 21., 22., 18., 19., 19., 32., 28.,  1., 54.,
       30., 18., 18.,  4., 18., 48., 32., 18., 25., 16., 21., 30., 24.,
       32., 48., 33., 30., 48., 20., 19.,  4.])

In [92]:
AgeTest['Age'] = Age_Predt
TestDSAgeTest['Age'] = Age_Test_Predt

In [49]:
#TestDSAgeTest

In [50]:
#AgeTrain

In [93]:
AgeTrain.columns

Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
       'Salutation_Master', 'Salutation_Miss', 'Salutation_Mr',
       'Salutation_Mrs', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S'],
      dtype='object')

In [94]:
TestDSAgeTrain.columns

Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Salutation_Master',
       'Salutation_Miss', 'Salutation_Mr', 'Salutation_Mrs', 'Sex_female',
       'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [95]:
AgeTest = AgeTest[['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
       'Salutation_Master', 'Salutation_Miss', 'Salutation_Mr',
       'Salutation_Mrs', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S']]

TestDSAgeTest = TestDSAgeTest[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Salutation_Master',
       'Salutation_Miss', 'Salutation_Mr', 'Salutation_Mrs', 'Sex_female',
       'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S']]

In [96]:
ConcatBothFrameTrain = [AgeTrain, AgeTest]

In [97]:
ConcatBothFrameTest = [TestDSAgeTrain, TestDSAgeTest]

In [98]:
df5 = pd.concat(ConcatBothFrameTrain)
TestDataSet3 = pd.concat(ConcatBothFrameTest)

In [103]:
TestDataSet3.shape

(418, 14)

In [104]:
df5.shape

(889, 15)

In [99]:
TestDataSet3.isnull().sum()

Pclass               0
Age                  0
SibSp                0
Parch                0
Fare                 0
Salutation_Master    0
Salutation_Miss      0
Salutation_Mr        0
Salutation_Mrs       0
Sex_female           0
Sex_male             0
Embarked_C           0
Embarked_Q           0
Embarked_S           0
dtype: int64

In [100]:
df5.isnull().sum()

Survived             0
Pclass               0
Age                  0
SibSp                0
Parch                0
Fare                 0
Salutation_Master    0
Salutation_Miss      0
Salutation_Mr        0
Salutation_Mrs       0
Sex_female           0
Sex_male             0
Embarked_C           0
Embarked_Q           0
Embarked_S           0
dtype: int64

In [ ]:
#------Now handle cabin null values-----------

In [105]:
CabinTest = TestDataSet3.copy()
CabinTrain = df5.copy()

In [106]:
#Add cabin col to above dataset
CabinTest['Cabin_Serial'] = TestDataSet['Cabin_Serial']
CabinTrain['Cabin_Serial'] = df['Cabin_Serial']

In [107]:
CabinTest.isnull().sum()

Pclass                 0
Age                    0
SibSp                  0
Parch                  0
Fare                   0
Salutation_Master      0
Salutation_Miss        0
Salutation_Mr          0
Salutation_Mrs         0
Sex_female             0
Sex_male               0
Embarked_C             0
Embarked_Q             0
Embarked_S             0
Cabin_Serial         327
dtype: int64

In [108]:
CabinTrain.isnull().sum()

Survived               0
Pclass                 0
Age                    0
SibSp                  0
Parch                  0
Fare                   0
Salutation_Master      0
Salutation_Miss        0
Salutation_Mr          0
Salutation_Mrs         0
Sex_female             0
Sex_male               0
Embarked_C             0
Embarked_Q             0
Embarked_S             0
Cabin_Serial         687
dtype: int64

In [163]:
CabinTrain.shape

(889, 16)

In [164]:
CabinTest.shape

(418, 15)

In [112]:
#Now all age null values move to Test dataset and all values available as train

TrainDSTrain = CabinTrain[CabinTrain['Cabin_Serial'].notna()]
TrainDSTest = CabinTrain[CabinTrain['Cabin_Serial'].isna()]

#Test dataset

TestDSCabinTrain = CabinTest[CabinTest['Cabin_Serial'].notna()]
TestDSCabinTest = CabinTest[CabinTest['Cabin_Serial'].isna()]

In [119]:
TrainDSTrain.shape

(202, 16)

In [120]:
TrainDSTest.shape

(687, 16)

In [122]:
TestDSCabinTrain.shape

(91, 15)

In [124]:
TestDSCabinTest.shape

(327, 15)

In [133]:
#Now we prepare train dataset to train model --> take target and independeint vairable

In [128]:

TrainDSCabinTarget = TrainDSTrain['Cabin_Serial']
TrainDSCabinIV = TrainDSTrain.drop(['Cabin_Serial'],axis='columns')

In [126]:
TestDSCabinTarget = TestDSCabinTrain['Cabin_Serial']
TestDSCabinIV = TestDSCabinTrain.drop(['Cabin_Serial'],axis='columns')

In [134]:
#Now split train dataset
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(TrainDSCabinIV,TrainDSCabinTarget, test_size = 0.3)
X_Test_train, X_Test_test, y_Test_train, y_Test_test = train_test_split(TestDSCabinIV,TestDSCabinTarget, test_size=0.3)

In [145]:
#Import knearest neighbors Classifier model k=50
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knnTrainCabin = KNeighborsClassifier(n_neighbors=5)
knnTestCabin = KNeighborsClassifier(n_neighbors=5)

In [146]:
knnTrainCabin.fit(X_train,y_train)

KNeighborsClassifier()

In [147]:
knnTestCabin.fit(X_Test_train,y_Test_train)

KNeighborsClassifier()

In [148]:
TrainCabinPreict = knnTrainCabin.predict(X_test)
TestCabinPredict = knnTestCabin.predict(X_Test_test)

In [149]:
#Model evaluation for k=5
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy Train dataset:",metrics.accuracy_score(y_test, TrainCabinPreict))
print("Accuracy Test dataset:",metrics.accuracy_score(y_Test_test, TestCabinPredict))

Accuracy Train dataset: 0.2786885245901639
Accuracy Test dataset: 0.42857142857142855

In [151]:
TestCabinPredict

array(['B', 'C', 'C', 'D', 'A', 'C', 'F', 'B', 'C', 'C', 'B', 'A', 'F',
       'C', 'B', 'C', 'C', 'F', 'B', 'F', 'A', 'A', 'C', 'C', 'C', 'E',
       'A', 'C'], dtype=object)

In [155]:
TrainDSTest = TrainDSTest.drop(['Cabin_Serial'], axis='columns')
TestDSCabinTest = TestDSCabinTest.drop(['Cabin_Serial'], axis='columns')

In [160]:
#All null values get prediction
TrainResult = knnTrainCabin.predict(TrainDSTest)
TestResult = knnTestCabin.predict(TestDSCabinTest)

In [166]:
#Replace all null values by predictions
TrainDSTest['Cabin_Serial'] = TrainResult
TestDSCabinTest['Cabin_Serial'] = TestResult

In [ ]:
#Arrange train and test dataset colums so easy to append predicted cols.

In [170]:
TrainDSTrain.columns

Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
       'Salutation_Master', 'Salutation_Miss', 'Salutation_Mr',
       'Salutation_Mrs', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S', 'Cabin_Serial'],
      dtype='object')

In [169]:
TestDSCabinTrain.columns

Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Salutation_Master',
       'Salutation_Miss', 'Salutation_Mr', 'Salutation_Mrs', 'Sex_female',
       'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Cabin_Serial'],
      dtype='object')

In [171]:
TrainDSTest = TrainDSTest[['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
       'Salutation_Master', 'Salutation_Miss', 'Salutation_Mr',
       'Salutation_Mrs', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S', 'Cabin_Serial']]

In [172]:
TestDSCabinTest = TestDSCabinTest[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Salutation_Master',
       'Salutation_Miss', 'Salutation_Mr', 'Salutation_Mrs', 'Sex_female',
       'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Cabin_Serial']]

In [ ]:
#Append predicted columns into data set

In [174]:
CombineTrainDSCabin = [TrainDSTrain,TrainDSTest]

In [175]:
CombineTestDSCabin = [TestDSCabinTrain,TestDSCabinTest]

In [176]:
CabinTrainDSComplete = pd.concat(CombineTrainDSCabin)

In [177]:
CabinTestDSComplete = pd.concat(CombineTestDSCabin)

In [ ]:
#Now check all rows are there or not

In [178]:
CabinTrainDSComplete.shape

(889, 16)

In [180]:
CabinTestDSComplete.shape

(418, 15)

In [181]:
CabinTrainDSComplete.isnull().sum()

Survived             0
Pclass               0
Age                  0
SibSp                0
Parch                0
Fare                 0
Salutation_Master    0
Salutation_Miss      0
Salutation_Mr        0
Salutation_Mrs       0
Sex_female           0
Sex_male             0
Embarked_C           0
Embarked_Q           0
Embarked_S           0
Cabin_Serial         0
dtype: int64

In [183]:
CabinTestDSComplete.isnull().sum()

Pclass               0
Age                  0
SibSp                0
Parch                0
Fare                 0
Salutation_Master    0
Salutation_Miss      0
Salutation_Mr        0
Salutation_Mrs       0
Sex_female           0
Sex_male             0
Embarked_C           0
Embarked_Q           0
Embarked_S           0
Cabin_Serial         0
dtype: int64

# Now we have clean dataset

In [ ]:
#------------------SELECTING APPROPRIATE FEATURES FOR TRAINING THE PREDICTIVE MODEL-----------------------------

In [184]:
df7= CabinTrainDSComplete.copy()

In [186]:
TestDataSet4 = CabinTestDSComplete.copy()

In [188]:
#Now need to create dummies for cabinseries col.
df7 = pd.get_dummies(df7)
TestDataSet4 = pd.get_dummies(TestDataSet4)

In [193]:
df7.columns

Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
       'Salutation_Master', 'Salutation_Miss', 'Salutation_Mr',
       'Salutation_Mrs', 'Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q',
       'Embarked_S', 'Cabin_Serial_A', 'Cabin_Serial_B', 'Cabin_Serial_C',
       'Cabin_Serial_D', 'Cabin_Serial_E', 'Cabin_Serial_F', 'Cabin_Serial_G',
       'Cabin_Serial_T'],
      dtype='object')

In [201]:
df7 = df7.drop(['Cabin_Serial_T'], axis='columns')

In [194]:
TestDataSet4.columns

Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Salutation_Master',
       'Salutation_Miss', 'Salutation_Mr', 'Salutation_Mrs', 'Sex_female',
       'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Cabin_Serial_A',
       'Cabin_Serial_B', 'Cabin_Serial_C', 'Cabin_Serial_D', 'Cabin_Serial_E',
       'Cabin_Serial_F', 'Cabin_Serial_G'],
      dtype='object')

In [206]:
df7.shape

(889, 22)

In [207]:
TestDataSet4.shape

(418, 21)

In [208]:
# Assign the Dependent/Predictive variable to "Y"
Y = df7['Survived']

In [209]:
# Assign all the other variables/features except DV to independent variable "X"
X = df7.drop(columns=['Survived'],axis=1)

In [210]:
#-------------FEATURE SELECTION-----------------

In [211]:
#-------------1.PEARSON CORRELATION-------------

In [212]:
#Pearson Correlation
def cor_selector(X, y,num_feats):
    cor_list = []
    feature_name = X.columns.tolist()
    # calculate the correlation with y for each feature
    for i in X.columns.tolist():
        cor = np.corrcoef(X[i], y)[0, 1]
        cor_list.append(cor)
    # replace NaN with 0
    cor_list = [0 if np.isnan(i) else i for i in cor_list]
    # feature name
    cor_feature = X.iloc[:,np.argsort(np.abs(cor_list))[-num_feats:]].columns.tolist()
    # feature selection? 0 for not select, 1 for select
    cor_support = [True if i in cor_feature else False for i in feature_name]
    return cor_support, cor_feature
cor_support, cor_feature = cor_selector(X, Y,num_feats=8)
print(str(len(cor_feature)), 'selected features')
cor_feature

8 selected features

['Embarked_C',
 'Fare',
 'Salutation_Miss',
 'Pclass',
 'Salutation_Mrs',
 'Sex_female',
 'Sex_male',
 'Salutation_Mr']

In [214]:
PCor_IV = X[['Embarked_C','Fare','Salutation_Miss','Pclass','Salutation_Mrs','Sex_female','Sex_male','Salutation_Mr']]
PCor_DV = df7['Survived']

In [216]:
PCor_TestDataSet = TestDataSet4[['Embarked_C','Fare','Salutation_Miss','Pclass','Salutation_Mrs','Sex_female','Sex_male','Salutation_Mr']]

In [ ]:
#-------------2.CHI-SQUARE CORRELATION-------------

In [217]:
#Kbest selector used for feature selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from numpy import set_printoptions
selector = SelectKBest(chi2, k = 8)
#New dataframe with the selected features for later use in the classifier. fit() method works too, if you want only the feature names and their corresponding scores
X_new = selector.fit_transform(X, Y)
names = X.columns.values[selector.get_support()]
scores = selector.scores_[selector.get_support()]
names_scores = list(zip(names, scores))
ns_df = pd.DataFrame(data = names_scores, columns=['Feat_names', 'F_Scores'])
#Sort the dataframe for better visualization
ns_df_sorted = ns_df.sort_values(['F_Scores', 'Feat_names'], ascending = [False, True])
ns_df_sorted['Feat_names']

2               Fare
6         Sex_female
4      Salutation_Mr
5     Salutation_Mrs
7           Sex_male
3    Salutation_Miss
1                Age
0             Pclass
Name: Feat_names, dtype: object

In [218]:
ChiSQ_IV = X[['Fare','Sex_female','Salutation_Mr','Salutation_Mrs','Sex_male','Salutation_Miss','Pclass','Age']]
ChiSQ_DV = df7['Survived']

In [220]:
ChiSQ_TestDataSet = TestDataSet4[['Fare','Sex_female','Salutation_Mr','Salutation_Mrs','Sex_male','Salutation_Miss','Pclass','Age']]

In [ ]:
#--------3. Wrapper ---> Recursive Feature Elmination (RFE)--------------

In [221]:
# Retrieving top 15 significant features for training the predictive model
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
model = LogisticRegression(max_iter=1200000)
rfe = RFE(model, 8)
fit = rfe.fit(X, Y)
rank = pd.DataFrame(fit.ranking_,columns = ['rank'])
column = pd.DataFrame(X.columns, columns = ['col'])
Feature_Extraction = pd.concat([column,rank],axis=1)
Feature_Extraction.sort_values(by=['rank'], inplace=True)
# Check the rank of all the features

/Users/ganesh_dhasade/opt/anaconda3/envs/Titanic_Classification_Problem/lib/python3.7/site-packages/sklearn/utils/validation.py:71: FutureWarning: Pass n_features_to_select=8 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)

In [222]:
Feature_Extraction = Feature_Extraction[Feature_Extraction['rank'] == 1] 
Feature_Extraction['col']

0                Pclass
14       Cabin_Serial_A
11           Embarked_C
9            Sex_female
7         Salutation_Mr
10             Sex_male
2                 SibSp
5     Salutation_Master
Name: col, dtype: object

In [223]:
RFE_IV = X[['Pclass','Cabin_Serial_A','Embarked_C','Sex_female','Salutation_Mr','Sex_male','SibSp','Salutation_Master']]
RFE_DV = df7['Survived']

In [224]:
RFE_TestDataSet = TestDataSet4[['Pclass','Cabin_Serial_A','Embarked_C','Sex_female','Salutation_Mr','Sex_male','SibSp','Salutation_Master']]

In [ ]:
#--------4. Embbeded ---> LASSO --------------

In [225]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression

embeded_lr_selector = SelectFromModel(LogisticRegression(penalty="l1", solver='liblinear'), max_features=8)
embeded_lr_selector.fit(X, Y)

embeded_lr_support = embeded_lr_selector.get_support()
embeded_lr_feature = X.loc[:,embeded_lr_support].columns.tolist()
print(str(len(embeded_lr_feature)), 'selected features')

8 selected features

In [226]:
embeded_lr_feature

['Pclass',
 'SibSp',
 'Parch',
 'Salutation_Master',
 'Salutation_Mr',
 'Salutation_Mrs',
 'Sex_female',
 'Embarked_C']

In [227]:
LASSO_IV = X[['Pclass','SibSp','Parch','Salutation_Master','Salutation_Mr','Salutation_Mrs','Sex_female','Embarked_C']]
LASSO_DV = df7['Survived']

In [228]:
LASSO_TestDataSet = TestDataSet4[['Pclass','SibSp','Parch','Salutation_Master','Salutation_Mr','Salutation_Mrs','Sex_female','Embarked_C']]

In [ ]:
#--------5. Embbeded ---> RandomForest Classifer--------------

In [229]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

embeded_rf_selector = SelectFromModel(RandomForestClassifier(n_estimators=100), max_features=8)
embeded_rf_selector.fit(X, Y)

embeded_rf_support = embeded_rf_selector.get_support()
embeded_rf_feature = X.loc[:,embeded_rf_support].columns.tolist()
print(str(len(embeded_rf_feature)), 'selected features')

7 selected features

In [230]:
print(pd.DataFrame(embeded_rf_feature, columns = ['col']))

             col
0         Pclass
1            Age
2          SibSp
3           Fare
4  Salutation_Mr
5     Sex_female
6       Sex_male

In [231]:
RF_IV = X[['Pclass','Age','Fare','SibSp','Salutation_Mr','Sex_female','Sex_male','Salutation_Miss']]
RF_DV = df7['Survived']

In [233]:
RF_TestDataSet = TestDataSet4[['Pclass','Age','Fare','SibSp','Salutation_Mr','Sex_female','Sex_male','Salutation_Miss']]

In [234]:
from sklearn.model_selection import train_test_split 
# Spliting the dataset as 80% Training & 20% Testing data using sklearn selection train_test_split function
X_PCorTrain, X_PCorTest, Y_PCorTrain, Y_PCorTest = train_test_split(PCor_IV, PCor_DV, test_size = 0.20, random_state = 0)
X_ChiSQTrain, X_ChiSQTest, Y_ChiSQTrain, Y_ChiSQTest = train_test_split(ChiSQ_IV, ChiSQ_DV, test_size = 0.20, random_state = 0)
X_RFETrain, X_RFETest, Y_RFETrain, Y_RFETest = train_test_split(RFE_IV, RFE_DV, test_size = 0.20, random_state = 0)
X_LASSOTrain, X_LASSOTest, Y_LASSOTrain, Y_LASSOTest = train_test_split(LASSO_IV, LASSO_DV, test_size = 0.20, random_state = 0)
X_RFTrain, X_RFTest, Y_RFTrain, Y_RFTest = train_test_split(RF_IV, RF_DV, test_size = 0.20, random_state = 0)

In [235]:
#Import necesseary libraries
import pandas as pd 
import numpy as np
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm, tree
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

In [236]:
classifiers = []
model1 = LogisticRegression(random_state=0, max_iter = 2000)
classifiers.append(model1)
model2 = GaussianNB()
classifiers.append(model2)
model3 = tree.DecisionTreeClassifier()
classifiers.append(model3)
model4 = RandomForestClassifier()
classifiers.append(model4)

In [237]:
#Checking with pearson classifiers
X_train = X_PCorTrain 
y_train = Y_PCorTrain
X_test = X_PCorTest
y_test = Y_PCorTest

In [241]:
for clf in classifiers:
    clf.fit(X_train, y_train)
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)*100
    print("Accuracy of %s is %s"%(clf, acc))

Accuracy of LogisticRegression(max_iter=2000, random_state=0) is 74.15730337078652
Accuracy of GaussianNB() is 70.2247191011236
Accuracy of DecisionTreeClassifier() is 75.84269662921348
Accuracy of RandomForestClassifier() is 80.33707865168539

In [242]:
from sklearn.model_selection import cross_val_score
for clf in classifiers:
    scores = cross_val_score(clf, X_train, y_train, cv=5)*100
    print("Training Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)*100
    print("Accuracy of %s is %s"%(clf, acc))

Training Accuracy: 81.16 (+/- 2.31)
Accuracy of LogisticRegression(max_iter=2000, random_state=0) is 74.15730337078652
Training Accuracy: 80.31 (+/- 2.58)
Accuracy of GaussianNB() is 70.2247191011236
Training Accuracy: 77.63 (+/- 5.06)
Accuracy of DecisionTreeClassifier() is 75.84269662921348
Training Accuracy: 82.13 (+/- 4.38)
Accuracy of RandomForestClassifier() is 80.33707865168539

In [243]:
#Pearson features Works well with Decision Tree Classifier i.e model3
PCor_Predictions= model3.predict(PCor_TestDataSet)

In [244]:
PCorSubmission = TestDataSet2.copy()

In [245]:
PCorSubmission['Survived'] = PCor_Predictions

In [246]:
SubmissionDF = PCorSubmission[['PassengerId','Survived']]

In [247]:
SubmissionDF.shape

(418, 2)

In [248]:
SubmissionDF.to_csv("PearsonFeaturesDecisionTreeClassifer.csv")

In [249]:
#Checking with ChiSquare Features
X_train = X_ChiSQTrain 
y_train = Y_ChiSQTrain
X_test = X_ChiSQTest
y_test = Y_ChiSQTest

In [251]:
for clf in classifiers:
    clf.fit(X_train, y_train)
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)*100
    print("Accuracy of %s is %s"%(clf, acc))

Accuracy of LogisticRegression(max_iter=2000, random_state=0) is 74.15730337078652
Accuracy of GaussianNB() is 70.2247191011236
Accuracy of DecisionTreeClassifier() is 75.84269662921348
Accuracy of RandomForestClassifier() is 79.7752808988764

In [252]:
from sklearn.model_selection import cross_val_score
for clf in classifiers:
    scores = cross_val_score(clf, X_train, y_train, cv=5)*100
    print("Training Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)*100
    print("Accuracy of %s is %s"%(clf, acc))

Training Accuracy: 81.16 (+/- 2.31)
Accuracy of LogisticRegression(max_iter=2000, random_state=0) is 74.15730337078652
Training Accuracy: 80.31 (+/- 2.58)
Accuracy of GaussianNB() is 70.2247191011236
Training Accuracy: 77.63 (+/- 5.08)
Accuracy of DecisionTreeClassifier() is 75.84269662921348
Training Accuracy: 82.00 (+/- 1.93)
Accuracy of RandomForestClassifier() is 79.7752808988764

In [253]:
#All bad but winner is random forest
ChiSQ_Predictions= model4.predict(ChiSQ_TestDataSet)

In [254]:
ChiSQSubmission = TestDataSet2.copy()
ChiSQSubmission['Survived'] = ChiSQ_Predictions
SubmissionDF = ChiSQSubmission[['PassengerId','Survived']]

In [255]:
SubmissionDF.shape

(418, 2)

In [256]:
SubmissionDF.to_csv("ChiSQFeaturesOnRandomForestClassifer.csv")

In [257]:
#Checking with RFE Features
X_train = X_RFETrain 
y_train = Y_RFETrain
X_test = X_RFETest
y_test = Y_RFETest

In [258]:
for clf in classifiers:
    clf.fit(X_train, y_train)
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)*100
    print("Accuracy of %s is %s"%(clf, acc))

Accuracy of LogisticRegression(max_iter=2000, random_state=0) is 78.08988764044943
Accuracy of GaussianNB() is 76.96629213483146
Accuracy of DecisionTreeClassifier() is 78.08988764044943
Accuracy of RandomForestClassifier() is 78.08988764044943

In [259]:
from sklearn.model_selection import cross_val_score
for clf in classifiers:
    scores = cross_val_score(clf, X_train, y_train, cv=5)*100
    print("Training Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)*100
    print("Accuracy of %s is %s"%(clf, acc))

Training Accuracy: 82.28 (+/- 1.65)
Accuracy of LogisticRegression(max_iter=2000, random_state=0) is 78.08988764044943
Training Accuracy: 82.00 (+/- 1.93)
Accuracy of GaussianNB() is 76.96629213483146
Training Accuracy: 82.42 (+/- 2.88)
Accuracy of DecisionTreeClassifier() is 78.08988764044943
Training Accuracy: 82.70 (+/- 1.86)
Accuracy of RandomForestClassifier() is 78.08988764044943

In [260]:
#All bad but winner is random forest classifier
RFE_Predictions= model2.predict(RFE_TestDataSet)

In [261]:
RFESubmission = TestDataSet2.copy()
RFESubmission['Survived'] = RFE_Predictions
SubmissionDF = RFESubmission[['PassengerId','Survived']]
SubmissionDF.shape

(418, 2)

In [262]:
SubmissionDF.to_csv("RFE_Features_On_GuaiseNB.csv")

In [263]:
#Checking with LASSO Features
X_train = X_LASSOTrain 
y_train = Y_LASSOTrain
X_test = X_LASSOTest
y_test = Y_LASSOTest

In [264]:
for clf in classifiers:
    clf.fit(X_train, y_train)
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)*100
    print("Accuracy of %s is %s"%(clf, acc))

Accuracy of LogisticRegression(max_iter=2000, random_state=0) is 79.21348314606742
Accuracy of GaussianNB() is 78.08988764044943
Accuracy of DecisionTreeClassifier() is 76.40449438202246
Accuracy of RandomForestClassifier() is 76.96629213483146

In [265]:
from sklearn.model_selection import cross_val_score
for clf in classifiers:
    scores = cross_val_score(clf, X_train, y_train, cv=5)*100
    print("Training Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)*100
    print("Accuracy of %s is %s"%(clf, acc))

Training Accuracy: 82.56 (+/- 2.77)
Accuracy of LogisticRegression(max_iter=2000, random_state=0) is 79.21348314606742
Training Accuracy: 82.56 (+/- 2.47)
Accuracy of GaussianNB() is 78.08988764044943
Training Accuracy: 82.00 (+/- 2.06)
Accuracy of DecisionTreeClassifier() is 76.40449438202246
Training Accuracy: 82.70 (+/- 3.08)
Accuracy of RandomForestClassifier() is 76.96629213483146

In [266]:
#All bad but winner is Decision Tree classifier i.e model 3
LASSO_Predictions= model1.predict(LASSO_TestDataSet)

In [267]:
LASSOSubmission = TestDataSet2.copy()
LASSOSubmission['Survived'] = LASSO_Predictions
SubmissionDF = LASSOSubmission[['PassengerId','Survived']]
SubmissionDF.shape

(418, 2)

In [268]:
SubmissionDF.to_csv("LASSO_Features_On_LofisticRegression.csv")

In [269]:
#Checking with RF Features
X_train = X_RFTrain 
y_train = Y_RFTrain
X_test = X_RFTest
y_test = Y_RFTest

In [270]:
for clf in classifiers:
    clf.fit(X_train, y_train)
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)*100
    print("Accuracy of %s is %s"%(clf, acc))

Accuracy of LogisticRegression(max_iter=2000, random_state=0) is 76.40449438202246
Accuracy of GaussianNB() is 71.34831460674157
Accuracy of DecisionTreeClassifier() is 73.03370786516854
Accuracy of RandomForestClassifier() is 79.21348314606742

In [146]:
#X_RFTrain.shape
#Y_RFTrain.shape
#X_RFTest.shape
#Y_RFTest.shape

(178,)

In [271]:
from sklearn.model_selection import cross_val_score
for clf in classifiers:
    scores = cross_val_score(clf, X_train, y_train, cv=5)*100
    print("Training Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)*100
    print("Accuracy of %s is %s"%(clf, acc))

Training Accuracy: 82.14 (+/- 2.66)
Accuracy of LogisticRegression(max_iter=2000, random_state=0) is 76.40449438202246
Training Accuracy: 80.59 (+/- 2.65)
Accuracy of GaussianNB() is 71.34831460674157
Training Accuracy: 78.62 (+/- 5.15)
Accuracy of DecisionTreeClassifier() is 73.03370786516854
Training Accuracy: 82.00 (+/- 3.47)
Accuracy of RandomForestClassifier() is 79.21348314606742

In [272]:
#All bad but winner is Decision Tree classifier i.e model 3
RF_Predictions= model4.predict(LASSO_TestDataSet)

In [273]:
RFSubmission = TestDataSet2.copy()
RFSubmission['Survived'] = RF_Predictions
SubmissionDF = RFSubmission[['PassengerId','Survived']]
SubmissionDF.shape

(418, 2)

In [274]:
SubmissionDF.to_csv("RF_Features_On_RandomForestClassifer.csv")

In [646]:
#-------Now Transformation is done --------

In [647]:
#Check correlation between each columns

In [648]:
#pip install matplotlib

In [649]:
#pip install seaborn

In [554]:
#import seaborn as sns

In [63]:
#sns.pairplot(df5)

In [64]:
#Check correlation using heatmap
#import matplotlib.pyplot as plt
#%matplotlib inline

#corrmat = df5.corr()
#Top_corr_feature = corrmat.index
#plt.figure(figsize=(20,20))

#plt = sns.heatmap(df5[Top_corr_feature].corr(), annot = True, cmap="RdYlGn")

In [65]:
#Check correlation using heatmap
#import matplotlib.pyplot as plt
#%matplotlib inline
#plt.scatter(df5.Survived, df5.Age, marker='+', color='red')

In [650]:
#------ model Training------

In [651]:
df6 = df5.copy()

In [652]:
DV = df6['Survived']

In [653]:
IV = df6.drop(['Survived'], axis = 'columns')

In [654]:
#Now split the dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(IV, DV, test_size=0.3, shuffle=True)

In [655]:
#Import necesseary libraries
import pandas as pd 
import numpy as np
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm, tree
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

In [656]:
#Create 4 different type of models and store in classifier arry

In [657]:
classifiers = []
model1 = LogisticRegression(random_state=0, max_iter = 2000)
classifiers.append(model1)
model2 = GaussianNB()
classifiers.append(model2)
model3 = tree.DecisionTreeClassifier()
classifiers.append(model3)
model4 = RandomForestClassifier()
classifiers.append(model4)

In [658]:
#Now ittreate classifier array and fit the data with all models

In [659]:
for clf in classifiers:
    clf.fit(X_train, y_train)
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)*100
    print("Accuracy of %s is %s"%(clf, acc))
    #cm = confusion_matrix(y_test, y_pred)
    #print("Confusion Matrix of %s is %s"%(clf, cm))

Accuracy of LogisticRegression(max_iter=2000, random_state=0) is 81.64794007490637
Accuracy of GaussianNB() is 81.64794007490637
Accuracy of DecisionTreeClassifier() is 76.02996254681648
Accuracy of RandomForestClassifier() is 79.40074906367042

In [660]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model2, X_train, y_train, cv=5)

In [661]:
scores

array([0.776     , 0.792     , 0.83064516, 0.74193548, 0.83064516])

In [662]:
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.79 (+/- 0.07)

In [663]:
for clf in classifiers:
    scores = cross_val_score(clf, X_train, y_train, cv=5)*100
    print("Training Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
    y_pred= clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)*100
    print("Accuracy of %s is %s"%(clf, acc))

Training Accuracy: 82.96 (+/- 6.93)
Accuracy of LogisticRegression(max_iter=2000, random_state=0) is 81.64794007490637
Training Accuracy: 79.42 (+/- 6.77)
Accuracy of GaussianNB() is 81.64794007490637
Training Accuracy: 78.95 (+/- 4.90)
Accuracy of DecisionTreeClassifier() is 76.02996254681648
Training Accuracy: 81.03 (+/- 5.25)
Accuracy of RandomForestClassifier() is 79.40074906367042

In [664]:
#As i see the logistic regression giving best result i.e model1
Predictions= model1.predict(TestDataSet)

In [665]:
Predictions

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1])

In [666]:
TestDataSet['Survived'] = Predictions

In [667]:
TestDataSet

,Pclass,Age,SibSp,Parch,Fare,Salutation_Master,Salutation_Miss,Salutation_Mr,Salutation_Mrs,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Survived
0,3,34.0,0,0,7.829200,0,0,1,0,0,1,0,1,0,0
1,3,47.0,1,0,7.000000,0,0,0,1,1,0,0,0,1,1
2,2,62.0,0,0,9.687500,0,0,1,0,0,1,0,1,0,0
3,3,27.0,0,0,8.662500,0,0,1,0,0,1,0,0,1,0
4,3,22.0,1,1,12.287500,0,0,0,1,1,0,0,0,1,1
5,3,14.0,0,0,9.225000,0,0,1,0,0,1,0,0,1,0
6,3,30.0,0,0,7.629200,0,1,0,0,1,0,0,1,0,1
7,2,26.0,1,1,29.000000,0,0,1,0,0,1,0,0,1,0
8,3,18.0,0,0,7.229200,0,0,0,1,1,0,1,0,0,1
9,3,21.0,2,0,24.150000,0,0,1,0,0,1,0,0,1,0
11,1,46.0,0,0,26.000000,0,0,1,0,0,1,0,0,1,0
12,1,23.0,1,0,82.266700,0,0,0,1,1,0,0,0,1,1
13,2,63.0,1,0,26.000000,0,0,1,0,0,1,0,0,1,0
14,1,47.0,1,0,61.175000,0,0,0,1,1,0,0,0,1,1
15,2,24.0,1,0,27.720800,0,0,0,1,1,0,1,0,0,1
16,2,35.0,0,0,12.350000,0,0,1,0,0,1,0,1,0,0
17,3,21.0,0,0,7.225000,0,0,1,0,0,1,1,0,0,0
18,3,27.0,1,0,7.925000,0,1,0,0,1,0,0,0,1,1
19,3,45.0,0,0,7.225000,0,0,0,1,1,0,1,0,0,1
20,1,55.0,1,0,59.400000,0,0,1,0,0,1,1,0,0,0
21,3,9.0,0,1,3.170800,1,0,0,0,0,1,0,0,1,1
23,1,21.0,0,1,61.379200,0,0,1,0,0,1,1,0,0,0
24,1,48.0,1,3,262.375000,0,0,0,1,1,0,1,0,0,1
25,3,50.0,1,0,14.500000,0,0,1,0,0,1,0,0,1,0
26,1,22.0,0,1,61.979200,0,1,0,0,1,0,1,0,0,1
27,3,22.0,0,0,7.225000,0,0,1,0,0,1,1,0,0,0
28,1,41.0,0,0,30.500000,0,0,1,0,0,1,0,0,1,0
30,2,50.0,1,0,26.000000,0,0,1,0,0,1,0,0,1,0
31,2,24.0,2,0,31.500000,0,0,1,0,0,1,0,0,1,0
32,3,33.0,1,2,20.575000,0,0,0,1,1,0,0,0,1,0
34,1,30.0,1,0,57.750000,0,0,1,0,0,1,1,0,0,0
35,3,18.0,0,0,7.229200,0,0,1,0,0,1,1,0,0,0
37,3,21.0,0,0,8.662500,0,1,0,0,1,0,0,0,1,1
38,3,25.0,0,0,9.500000,0,0,1,0,0,1,0,0,1,0
40,3,39.0,0,1,13.416700,0,0,1,0,0,1,1,0,0,0
42,3,41.0,0,0,7.850000,0,0,1,0,0,1,0,0,1,0
43,2,30.0,0,0,13.000000,0,0,0,1,1,0,0,0,1,1
44,1,45.0,1,0,52.554200,0,0,0,1,1,0,0,0,1,1
45,3,25.0,0,0,7.925000,0,0,1,0,0,1,0,0,1,0
46,1,45.0,0,0,29.700000,0,0,1,0,0,1,1,0,0,1
48,1,60.0,0,0,76.291700,0,0,0,1,1,0,1,0,0,1
49,3,36.0,0,2,15.900000,0,0,0,1,1,0,0,0,1,1
50,1,24.0,1,0,60.000000,0,0,1,0,0,1,0,0,1,0
51,2,27.0,0,0,15.033300,0,0,1,0,0,1,1,0,0,0
52,2,20.0,2,1,23.000000,0,1,0,0,1,0,0,0,1,1
53,1,28.0,3,2,263.000000,0,1,0,0,1,0,0,0,1,1
55,3,10.0,4,1,29.125000,1,0,0,0,0,1,0,1,0,0
56,3,35.0,0,0,7.895800,0,0,1,0,0,1,0,0,1,0
57,3,25.0,0,0,7.650000,0,0,1,0,0,1,0,0,1,0
59,1,36.0,0,0,262.375000,0,1,0,0,1,0,1,0,0,1
60,3,17.0,0,0,7.895800,0,0,1,0,0,1,0,0,1,0
61,2,32.0,0,0,13.500000,0,0,1,0,0,1,0,0,1,0
62,3,18.0,0,0,7.750000,0,0,1,0,0,1,0,0,1,0
63,3,22.0,0,0,7.725000,0,1,0,0,1,0,0,1,0,1
64,1,13.0,2,2,262.375000,1,0,0,0,0,1,1,0,0,1
66,3,18.0,0,0,7.879200,0,1,0,0,1,0,0,1,0,1
67,1,47.0,0,0,42.400000,0,0,1,0,0,1,0,0,1,0
68,1,31.0,0,0,28.537500,0,0,1,0,0,1,1,0,0,1
69,1,60.0,1,4,263.000000,0,0,0,1,1,0,0,0,1,1
70,3,24.0,0,0,7.750000,0,1,0,0,1,0,0,1,0,1
71,3,21.0,0,0,7.895800,0,0,1,0,0,1,0,0,1,0
72,3,29.0,0,0,7.925000,0,1,0,0,1,0,0,0,1,1
73,1,28.0,0,0,27.720800,0,0,1,0,0,1,1,0,0,1
74,1,35.0,0,0,211.500000,0,1,0,0,1,0,1,0,0,1
75,1,32.0,0,0,211.500000,0,0,1,0,0,1,1,0,0,1
77,1,55.0,2,0,25.700000,0,0,0,1,1,0,0,0,1,1
78,2,30.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
79,3,24.0,0,0,7.750000,0,1,0,0,1,0,0,1,0,1
80,3,6.0,1,1,15.245800,1,0,0,0,0,1,1,0,0,1
81,1,67.0,1,0,221.779200,0,0,1,0,0,1,0,0,1,0
82,1,49.0,0,0,26.000000,0,0,1,0,0,1,0,0,1,0
86,3,27.0,0,0,7.879200,0,1,0,0,1,0,0,1,0,1
87,3,18.0,0,0,8.050000,0,1,0,0,1,0,0,0,1,1
89,2,2.0,1,1,23.000000,1,0,0,0,0,1,0,0,1,1
90,3,22.0,1,0,13.900000,0,0,0,1,1,0,0,0,1,1
92,1,27.0,1,2,52.000000,0,0,0,1,1,0,0,0,1,1
94,1,25.0,0,0,26.000000,0,0,1,0,0,1,1,0,0,1
95,3,25.0,0,0,7.795800,0,0,1,0,0,1,0,0,1,0
96,1,76.0,1,0,78.850000,0,0,0,1,1,0,0,0,1,1
97,3,29.0,0,0,7.925000,0,0,1,0,0,1,0,0,1,0
98,3,20.0,0,0,7.854200,0,1,0,0,1,0,0,0,1,1
99,3,33.0,0,0,8.050000,0,0,1,0,0,1,0,0,1,0
100,1,43.0,1,0,55.441700,0,0,0,1,1,0,1,0,0,1
101,2,27.0,1,0,26.000000,0,0,1,0,0,1,0,0,1,0
103,3,26.0,0,0,7.775000,0,0,1,0,0,1,0,0,1,0
104,3,16.0,1,1,8.516700,0,0,0,1,1,0,1,0,0,1
105,3,28.0,0,0,22.525000,0,0,1,0,0,1,0,0,1,0
106,3,21.0,0,0,7.820800,0,0,1,0,0,1,0,1,0,0
109,2,18.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
110,2,41.0,0,0,15.045800,0,0,1,0,0,1,1,0,0,0
112,1,36.0,0,0,31.679200,0,1,0,0,1,0,1,0,0,1
113,3,18.0,0,0,7.283300,0,1,0,0,1,0,0,1,0,1
114,1,63.0,1,0,221.779200,0,0,0,1,1,0,0,0,1,1
115,3,18.0,1,0,14.454200,0,0,1,0,0,1,1,0,0,0
117,3,1.0,1,1,16.700000,0,1,0,0,1,0,0,0,1,1
118,1,36.0,0,0,75.241700,0,0,1,0,0,1,1,0,0,1
119,2,29.0,1,0,26.000000,0,0,0,1,1,0,0,0,1,1
120,2,12.0,0,0,15.750000,0,1,0,0,1,0,0,0,1,1
122,1,35.0,1,0,57.750000,0,0,0,1,1,0,1,0,0,1
123,3,28.0,0,0,7.250000,0,0,1,0,0,1,0,0,1,0
125,3,17.0,0,1,16.100000,0,1,0,0,1,0,0,0,1,1
126,3,22.0,0,0,7.795800,0,0,1,0,0,1,0,0,1,0
128,2,42.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
129,3,24.0,0,0,8.050000,0,0,1,0,0,1,0,0,1,0
130,3,32.0,0,0,8.050000,0,0,1,0,0,1,0,0,1,0
131,1,53.0,0,0,28.500000,0,0,1,0,0,1,1,0,0,0
134,3,43.0,0,0,7.895800,0,0,1,0,0,1,0,0,1,0
135,3,24.0,0,0,7.854200,0,0,1,0,0,1,0,0,1,0
136,3,26.0,0,0,7.225000,0,0,1,0,0,1,1,0,0,0
137,2,26.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
138,3,23.0,0,0,8.050000,0,1,0,0,1,0,0,0,1,1
139,3,40.0,1,6,46.900000,0,0,1,0,0,1,0,0,1,0
140,3,10.0,5,2,46.900000,0,1,0,0,1,0,0,0,1,0
141,1,33.0,0,0,151.550000,0,1,0,0,1,0,0,0,1,1
142,1,61.0,1,3,262.375000,0,0,1,0,0,1,1,0,0,0
143,2,28.0,0,0,26.000000,0,0,1,0,0,1,0,0,1,0
144,1,42.0,0,0,26.550000,0,0,1,0,0,1,0,0,1,0
145,3,31.0,3,0,18.000000,0,0,1,0,0,1,0,0,1,0
147,3,22.0,0,0,8.050000,0,0,1,0,0,1,0,0,1,0
149,2,30.0,1,1,26.000000,0,0,1,0,0,1,0,0,1,0
150,1,23.0,0,1,83.158300,0,0,0,1,1,0,1,0,0,1
152,3,60.0,0,0,35.627188,0,0,1,0,0,1,0,0,1,0
153,3,36.0,0,2,12.183300,0,0,0,1,1,0,0,0,1,1
154,3,13.0,4,2,31.387500,1,0,0,0,0,1,0,0,1,0
155,3,24.0,0,0,7.550000,0,0,1,0,0,1,0,0,1,0
156,1,29.0,0,0,221.779200,0,1,0,0,1,0,0,0,1,1
157,3,23.0,0,0,7.854200,0,1,0,0,1,0,0,0,1,1
158,1,42.0,0,0,26.550000,0,0,1,0,0,1,0,0,1,0
159,3,26.0,0,2,13.775000,0,0,0,1,1,0,0,0,1,1
161,3,7.0,1,1,15.245800,1,0,0,0,0,1,1,0,0,1
162,2,26.0,0,0,13.500000,0,1,0,0,1,0,0,0,1,1
164,2,41.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
165,3,26.0,1,1,22.025000,0,0,0,1,1,0,0,0,1,1
166,1,48.0,0,0,50.495800,0,0,1,0,0,1,1,0,0,0
167,3,18.0,2,2,34.375000,0,0,1,0,0,1,0,0,1,0
169,3,22.0,0,0,8.962500,0,1,0,0,1,0,0,0,1,1
171,3,27.0,0,0,7.225000,0,0,1,0,0,1,1,0,0,0
172,3,23.0,1,0,13.900000,0,0,1,0,0,1,0,0,1,0
174,3,40.0,1,5,31.387500,0,0,1,0,0,1,0,0,1,0
175,2,15.0,0,2,39.000000,0,1,0,0,1,0,0,0,1,1
176,2,20.0,0,0,36.750000,0,1,0,0,1,0,0,0,1,1
177,1,54.0,1,0,55.441700,0,0,1,0,0,1,1,0,0,0
178,2,36.0,0,3,39.000000,0,0,0,1,1,0,0,0,1,1
179,1,64.0,0,2,83.158300,0,0,0,1,1,0,1,0,0,1
180,2,30.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
181,1,37.0,1,1,83.158300,0,0,1,0,0,1,1,0,0,0
182,1,18.0,1,0,53.100000,0,0,0,1,1,0,0,0,1,1
184,1,27.0,1,1,247.520800,0,0,0,1,1,0,1,0,0,1
185,2,40.0,0,0,16.000000,0,0,1,0,0,1,0,0,1,0
186,2,21.0,0,1,21.000000,0,1,0,0,1,0,0,0,1,1
187,3,17.0,2,0,8.050000,0,0,1,0,0,1,0,0,1,0
189,2,40.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
190,2,34.0,1,0,26.000000,0,0,1,0,0,1,0,0,1,0
192,3,12.0,1,1,14.500000,1,0,0,0,0,1,0,0,1,1
193,2,61.0,0,0,12.350000,0,0,1,0,0,1,0,1,0,0
194,2,8.0,0,2,32.500000,1,0,0,0,0,1,0,0,1,1
195,3,33.0,0,0,7.854200,0,0,1,0,0,1,0,0,1,0
196,1,6.0,0,2,134.500000,1,0,0,0,0,1,1,0,0,1
197,3,18.0,0,0,7.775000,0,1,0,0,1,0,0,0,1,1
198,2,23.0,0,0,10.500000,0,0,1,0,0,1,0,0,1,0
201,3,0.0,0,2,14.400000,1,0,0,0,0,1,0,0,1,1
202,1,47.0,1,0,227.525000,0,0,1,0,0,1,1,0,0,0
203,2,8.0,1,1,26.000000,0,1,0,0,1,0,0,0,1,1
204,2,25.0,0,0,10.500000,0,0,1,0,0,1,0,0,1,0
206,3,35.0,0,0,7.750000,0,1,0,0,1,0,0,1,0,1
207,2,24.0,0,0,10.500000,0,0,1,0,0,1,0,0,1,0
208,1,33.0,0,0,27.720800,0,1,0,0,1,0,1,0,0,1
209,3,25.0,0,0,7.895800,0,0,1,0,0,1,0,0,1,0
210,3,32.0,0,0,22.525000,0,0,1,0,0,1,0,0,1,0
212,2,17.0,0,0,73.500000,0,0,1,0,0,1,0,0,1,0
213,2,60.0,1,0,26.000000,0,0,0,1,1,0,0,0,1,1
214,3,38.0,4,2,7.775000,0,1,0,0,1,0,0,0,1,0
215,1,42.0,0,0,42.500000,0,0,1,0,0,1,0,0,1,0
217,1,57.0,1,1,164.866700,0,0,1,0,0,1,0,0,1,0
218,1,50.0,1,1,211.500000,0,0,0,1,1,0,1,0,0,1
220,2,30.0,1,0,13.858300,0,1,0,0,1,0,1,0,0,1
221,3,21.0,0,0,8.050000,0,0,1,0,0,1,0,0,1,0
222,2,22.0,0,0,10.500000,0,0,0,1,1,0,0,0,1,1
223,3,21.0,0,0,7.795800,0,0,1,0,0,1,0,0,1,0
224,1,53.0,0,0,27.445800,0,0,0,1,1,0,1,0,0,1
226,3,23.0,0,0,7.795800,0,0,1,0,0,1,0,0,1,0
228,3,40.0,0,0,15.100000,0,0,1,0,0,1,0,0,1,0
229,2,36.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
230,2,14.0,0,0,65.000000,0,0,1,0,0,1,0,0,1,0
231,1,21.0,0,0,26.550000,0,1,0,0,1,0,0,0,1,1
232,3,21.0,1,0,6.495800,0,0,1,0,0,1,0,0,1,0
234,1,39.0,1,0,71.283300,0,0,1,0,0,1,1,0,0,0
235,3,20.0,0,0,7.854200,0,0,1,0,0,1,0,0,1,0
236,1,64.0,1,0,75.250000,0,0,1,0,0,1,1,0,0,0
237,3,20.0,0,0,7.225000,0,0,1,0,0,1,1,0,0,0
238,2,18.0,1,1,13.000000,0,1,0,0,1,0,0,0,1,1
239,1,48.0,1,0,106.425000,0,0,0,1,1,0,1,0,0,1
240,1,55.0,0,0,27.720800,0,0,0,1,1,0,1,0,0,1
241,2,45.0,0,2,30.000000,0,0,0,1,1,0,0,0,1,1
242,1,45.0,1,1,134.500000,0,0,1,0,0,1,1,0,0,0
245,1,41.0,1,0,51.862500,0,0,1,0,0,1,0,0,1,0
246,2,22.0,0,0,21.000000,0,0,0,1,1,0,0,0,1,1
247,2,42.0,1,1,32.500000,0,0,1,0,0,1,0,0,1,0
248,2,29.0,1,0,26.000000,0,0,0,1,1,0,0,0,1,1
250,2,1.0,1,2,27.750000,0,1,0,0,1,0,0,0,1,1
251,3,20.0,0,0,7.925000,0,0,1,0,0,1,0,0,1,0
252,1,27.0,1,0,136.779200,0,0,1,0,0,1,1,0,0,1
253,3,24.0,0,0,9.325000,0,0,1,0,0,1,0,0,1,0
254,3,32.0,0,0,9.500000,0,0,1,0,0,1,0,0,1,0
257,3,28.0,0,0,8.050000,0,0,1,0,0,1,0,0,1,0
258,2,19.0,0,0,13.000000,0,1,0,0,1,0,0,0,1,1
259,3,21.0,0,0,7.775000,0,0,1,0,0,1,0,0,1,0
260,3,36.0,1,0,17.400000,0,0,1,0,0,1,0,0,1,0
261,3,21.0,0,0,7.854200,0,0,1,0,0,1,0,0,1,0
262,2,29.0,0,2,23.000000,0,0,0,1,1,0,0,0,1,1
263,3,1.0,1,1,12.183300,0,1,0,0,1,0,0,0,1,1
264,2,30.0,0,0,12.737500,0,0,1,0,0,1,1,0,0,0
269,3,17.0,0,0,8.662500,0,0,1,0,0,1,0,0,1,0
270,1,46.0,0,0,75.241700,0,0,1,0,0,1,1,0,0,1
272,1,26.0,1,0,136.779200,0,0,0,1,1,0,1,0,0,1
275,2,20.0,1,0,26.000000,0,1,0,0,1,0,0,0,1,1
276,2,28.0,0,0,10.500000,0,0,1,0,0,1,0,0,1,0
277,2,40.0,1,0,26.000000,0,0,1,0,0,1,0,0,1,0
278,2,30.0,1,0,21.000000,0,0,1,0,0,1,0,0,1,0
279,2,22.0,0,0,10.500000,0,0,1,0,0,1,0,0,1,0
280,3,23.0,0,0,8.662500,0,1,0,0,1,0,0,0,1,1
281,3,1.0,1,1,13.775000,1,0,0,0,0,1,0,0,1,1
283,3,9.0,1,1,15.245800,0,1,0,0,1,0,1,0,0,1
284,3,2.0,1,1,20.212500,0,1,0,0,1,0,0,0,1,1
285,3,36.0,0,0,7.250000,0,0,1,0,0,1,0,0,1,0
287,1,24.0,1,0,82.266700,0,0,1,0,0,1,0,0,1,0
291,3,30.0,0,0,6.950000,0,1,0,0,1,0,0,1,0,1
293,1,53.0,1,1,81.858300,0,0,1,0,0,1,0,0,1,0
294,3,36.0,0,0,9.500000,0,0,1,0,0,1,0,0,1,0
295,3,26.0,0,0,7.895800,0,0,1,0,0,1,0,0,1,0
296,2,1.0,1,2,41.579200,0,1,0,0,1,0,1,0,0,1
298,1,30.0,0,0,45.500000,0,0,1,0,0,1,0,0,1,0
299,3,29.0,0,0,7.854200,0,0,1,0,0,1,0,0,1,0
300,3,32.0,0,0,7.775000,0,0,1,0,0,1,0,0,1,0
302,2,43.0,0,1,21.000000,0,0,1,0,0,1,0,0,1,0
303,3,24.0,0,0,8.662500,0,0,1,0,0,1,0,0,1,0
305,1,64.0,1,1,26.550000,0,0,0,1,1,0,0,0,1,1
306,1,30.0,1,2,151.550000,0,0,1,0,0,1,0,0,1,0
307,3,1.0,0,1,9.350000,1,0,0,0,0,1,0,0,1,1
308,1,55.0,1,1,93.500000,0,0,1,0,0,1,0,0,1,0
309,3,45.0,1,0,14.108300,0,0,0,1,1,0,0,0,1,1
310,3,18.0,0,0,8.662500,0,0,1,0,0,1,0,0,1,0
311,3,22.0,0,0,7.225000,0,0,1,0,0,1,1,0,0,0
313,3,37.0,0,0,7.750000,0,1,0,0,1,0,0,1,0,1
314,1,55.0,0,0,135.633300,0,0,0,1,1,0,1,0,0,1
315,3,17.0,0,0,7.733300,0,1,0,0,1,0,0,1,0,1
316,1,57.0,1,0,146.520800,0,0,1,0,0,1,1,0,0,0
317,2,19.0,0,0,10.500000,0,0,1,0,0,1,0,0,1,0
318,3,27.0,0,0,7.854200,0,0,1,0,0,1,0,0,1,0
319,2,22.0,2,0,31.500000,0,0,1,0,0,1,0,0,1,0
320,3,26.0,0,0,7.775000,0,0,1,0,0,1,0,0,1,0
321,3,25.0,0,0,7.229200,0,0,1,0,0,1,1,0,0,0
322,2,26.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
323,1,33.0,0,0,26.550000,0,0,1,0,0,1,0,0,1,0
324,1,39.0,0,0,211.337500,0,1,0,0,1,0,0,0,1,1
325,3,23.0,0,0,7.050000,0,0,1,0,0,1,0,0,1,0
326,2,12.0,2,1,39.000000,0,1,0,0,1,0,0,0,1,1
327,1,46.0,0,0,79.200000,0,0,1,0,0,1,1,0,0,1
328,2,29.0,1,0,26.000000,0,0,1,0,0,1,0,0,1,0
329,2,21.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
330,2,48.0,0,2,36.750000,0,0,0,1,1,0,0,0,1,1
331,1,39.0,0,0,29.700000,0,0,1,0,0,1,1,0,0,1
333,3,19.0,1,1,15.741700,0,0,0,1,1,0,1,0,0,1
334,3,27.0,0,0,7.895800,0,0,1,0,0,1,0,0,1,0
335,1,30.0,0,0,26.000000,0,0,1,0,0,1,0,0,1,0
336,2,32.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
337,3,39.0,0,2,7.229200,0,0,1,0,0,1,1,0,0,0
338,2,25.0,0,0,31.500000,0,0,1,0,0,1,0,0,1,0
340,2,18.0,0,0,10.500000,0,0,1,0,0,1,0,0,1,0
341,3,32.0,0,0,7.579200,0,0,1,0,0,1,0,0,1,0
343,1,58.0,0,1,512.329200,0,0,0,1,1,0,1,0,0,1
345,3,16.0,0,0,7.650000,0,1,0,0,1,0,0,0,1,1
346,2,26.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
347,3,38.0,0,0,7.229200,0,0,0,1,1,0,1,0,0,1
348,2,24.0,0,0,13.500000,0,0,1,0,0,1,0,0,1,0
349,2,31.0,0,0,21.000000,0,1,0,0,1,0,0,0,1,1
350,1,45.0,0,1,63.358300,0,0,0,1,1,0,1,0,0,1
351,2,25.0,0,0,10.500000,0,0,1,0,0,1,0,0,1,0
352,2,18.0,0,0,73.500000,0,0,1,0,0,1,0,0,1,0
353,2,49.0,1,2,65.000000,0,0,1,0,0,1,0,0,1,0
354,3,0.0,1,2,20.575000,0,1,0,0,1,0,0,0,1,0
355,1,50.0,0,0,26.000000,0,0,1,0,0,1,0,0,1,0
356,1,59.0,2,0,51.479200,0,0,0,1,1,0,0,0,1,1
359,3,30.0,1,0,15.550000,0,0,0,1,1,0,0,0,1,1
360,3,14.0,8,2,69.550000,1,0,0,0,0,1,0,0,1,0
361,2,24.0,1,1,37.004200,0,0,0,1,1,0,1,0,0,1
362,2,31.0,0,0,21.000000,0,0,0,1,1,0,0,0,1,1
363,3,27.0,0,0,8.662500,0,0,1,0,0,1,0,0,1,0
364,1,25.0,1,0,55.441700,0,0,0,1,1,0,1,0,0,1
367,3,22.0,0,0,39.687500,0,1,0,0,1,0,0,0,1,1
368,1,45.0,0,1,59.400000,0,0,0,1,1,0,1,0,0,1
369,2,29.0,0,0,13.858300,0,0,1,0,0,1,1,0,0,0
370,2,21.0,1,0,11.500000,0,0,1,0,0,1,0,0,1,0
371,1,31.0,0,0,134.500000,0,1,0,0,1,0,1,0,0,1
372,1,49.0,0,0,0.000000,0,0,1,0,0,1,0,0,1,0
373,2,44.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
374,1,54.0,1,1,81.858300,0,0,0,1,1,0,0,0,1,1
375,1,45.0,0,0,262.375000,0,1,0,0,1,0,1,0,0,1
376,3,22.0,2,0,8.662500,0,1,0,0,1,0,0,0,1,0
377,2,21.0,0,0,11.500000,0,0,1,0,0,1,0,0,1,0
378,1,55.0,0,0,50.000000,0,0,1,0,0,1,0,0,1,0
379,3,5.0,4,2,31.387500,1,0,0,0,0,1,0,0,1,0
381,3,26.0,0,0,7.879200,0,0,1,0,0,1,0,1,0,0
383,3,19.0,1,0,16.100000,0,0,0,1,1,0,0,0,1,1
385,2,24.0,1,2,65.000000,0,1,0,0,1,0,0,0,1,1
386,3,24.0,0,0,7.775000,0,0,1,0,0,1,0,0,1,0
387,2,57.0,0,0,13.000000,0,0,1,0,0,1,0,0,1,0
388,3,21.0,0,0,7.750000,0,0,1,0,0,1,0,1,0,0
389,3,6.0,3,1,21.075000,1,0,0,0,0,1,0,0,1,0
390,1,23.0,0,0,93.500000,0,0,1,0,0,1,0,0,1,0
391,1,51.0,0,1,39.400000,0,0,0,1,1,0,0,0,1,1
392,3,13.0,0,2,20.250000,1,0,0,0,0,1,0,0,1,1
393,2,47.0,0,0,10.500000,0,0,1,0,0,1,0,0,1,0
394,3,29.0,3,1,22.025000,0,0,1,0,0,1,0,0,1,0
395,1,18.0,1,0,60.000000,0,0,0,1,1,0,0,0,1,1
396,3,24.0,0,0,7.250000,0,0,1,0,0,1,0,1,0,0
397,1,48.0,1,1,79.200000,0,0,0,1,1,0,1,0,0,1
398,3,22.0,0,0,7.775000,0,0,1,0,0,1,0,0,1,0
399,3,31.0,0,0,7.733300,0,0,1,0,0,1,0,1,0,0
400,1,30.0,0,0,164.866700,0,1,0,0,1,0,0,0,1,1
401,2,38.0,1,0,21.000000,0,0,1,0,0,1,0,0,1,0
402,1,22.0,0,1,59.400000,0,1,0,0,1,0,1,0,0,1
403,1,17.0,0,0,47.100000,0,0,1,0,0,1,0,0,1,0
404,1,43.0,1,0,27.720800,0,0,1,0,0,1,1,0,0,0
405,2,20.0,0,0,13.862500,0,0,1,0,0,1,1,0,0,0
406,2,23.0,1,0,10.500000,0,0,1,0,0,1,0,0,1,0
407,1,50.0,1,1,211.500000,0,0,1,0,0,1,1,0,0,0
409,3,3.0,1,1,13.775000,0,1,0,0,1,0,0,0,1,1
411,1,37.0,1,0,90.000000,0,0,0,1,1,0,0,1,0,1
412,3,28.0,0,0,7.775000,0,1,0,0,1,0,0,0,1,1
414,1,39.0,0,0,108.900000,0,0,0,1,1,0,1,0,0,1
415,3,38.0,0,0,7.250000,0,0,1,0,0,1,0,0,1,0
10,3,25.0,0,0,7.895800,0,0,1,0,0,1,0,0,1,0
22,1,8.0,0,0,31.683300,0,0,0,1,1,0,0,0,1,1
29,3,2.0,2,0,21.679200,0,0,1,0,0,1,1,0,0,0
33,3,29.0,1,2,23.450000,0,0,0,1,1,0,0,0,1,0
36,3,23.0,0,0,8.050000,0,1,0,0,1,0,0,0,1,1
39,3,45.0,0,0,56.495800,0,0,1,0,0,1,0,0,1,0
41,1,30.0,0,0,26.550000,0,0,1,0,0,1,0,0,1,0
47,3,21.0,0,0,7.750000,0,0,1,0,0,1,0,1,0,0
54,2,40.0,0,0,15.579200,0,0,1,0,0,1,1,0,0,0
58,3,40.0,1,0,16.100000,0,0,1,0,0,1,0,0,1,0
65,2,0.0,0,0,21.000000,0,0,0,1,1,0,0,0,1,1
76,3,20.0,0,0,8.050000,0,0,1,0,0,1,0,0,1,0
83,3,25.0,0,0,7.895800,0,0,1,0,0,1,0,0,1,0
84,2,25.0,0,0,10.708300,0,0,1,0,0,1,0,1,0,0
85,3,6.0,1,0,14.454200,0,0,1,0,0,1,1,0,0,0
88,3,30.0,0,0,7.750000,0,1,0,0,1,0,0,1,0,1
91,3,21.0,0,0,7.775000,0,0,1,0,0,1,0,0,1,0
93,3,20.0,0,0,8.050000,0,0,1,0,0,1,0,0,1,0
102,3,21.0,0,0,7.750000,0,0,1,0,0,1,0,1,0,0
107,3,21.0,0,0,7.750000,0,0,1,0,0,1,0,1,0,0
108,3,24.0,0,0,8.712500,0,0,1,0,0,1,0,0,1,0
111,3,30.0,0,0,7.779200,0,1,0,0,1,0,0,1,0,1
116,3,18.0,0,0,6.437500,0,0,1,0,0,1,1,0,0,0
121,3,21.0,1,0,7.750000,0,0,1,0,0,1,0,1,0,0
124,3,21.0,0,0,7.750000,0,0,1,0,0,1,0,1,0,0
127,3,21.0,2,0,23.250000,0,1,0,0,1,0,0,1,0,1
132,3,29.0,0,4,25.466700,0,0,0,1,1,0,0,0,1,0
133,3,18.0,1,0,6.437500,0,0,1,0,0,1,1,0,0,0
146,1,17.0,0,0,51.862500,0,0,1,0,0,1,0,0,1,0
148,1,30.0,0,0,26.550000,0,0,1,0,0,1,0,0,1,0
151,3,25.0,0,0,7.895800,0,0,1,0,0,1,1,0,0,0
160,3,30.0,0,0,7.733300,0,1,0,0,1,0,0,1,0,1
163,3,32.0,0,0,7.000000,0,0,1,0,0,1,0,0,1,0
168,1,53.0,0,0,27.720800,0,0,0,1,1,0,1,0,0,1
170,3,22.0,0,0,7.550000,0,0,1,0,0,1,0,0,1,0
173,3,18.0,0,0,7.229200,0,0,1,0,0,1,1,0,0,0
183,3,21.0,0,0,7.750000,0,0,1,0,0,1,0,1,0,0
188,3,14.0,8,2,69.550000,0,1,0,0,1,0,0,0,1,0
191,1,30.0,0,0,26.000000,0,0,1,0,0,1,0,0,1,0
199,3,23.0,0,0,8.112500,0,0,0,1,1,0,0,0,1,1
200,3,19.0,0,0,15.500000,0,1,0,0,1,0,0,1,0,1
205,1,42.0,0,0,25.741700,0,0,1,0,0,1,1,0,0,1
211,3,32.0,0,0,7.050000,0,0,1,0,0,1,0,0,1,0
216,3,30.0,0,0,7.879200,0,1,0,0,1,0,0,1,0,1
219,3,20.0,0,0,8.050000,0,0,1,0,0,1,0,0,1,0
225,3,19.0,0,2,15.245800,0,0,0,1,1,0,1,0,0,1
227,3,30.0,0,0,7.750000,0,1,0,0,1,0,0,1,0,1
233,3,21.0,0,0,7.879200,0,0,1,0,0,1,0,1,0,0
243,3,17.0,0,0,7.887500,0,0,1,0,0,1,0,0,1,0
244,3,29.0,1,2,23.450000,1,0,0,0,0,1,0,0,1,0
249,3,19.0,1,0,14.454200,0,0,0,1,1,0,1,0,0,1
255,3,22.0,0,0,7.550000,0,0,1,0,0,1,0,0,1,0
256,3,21.0,0,0,7.750000,0,0,1,0,0,1,0,1,0,0
265,3,25.0,0,0,7.895800,0,0,1,0,0,1,0,0,1,0
266,1,9.0,0,0,0.000000,0,0,1,0,0,1,0,0,1,0
267,3,22.0,0,0,7.550000,0,0,1,0,0,1,0,0,1,0
268,3,23.0,0,0,8.050000,0,1,0,0,1,0,0,0,1,1
271,3,21.0,0,0,7.750000,0,0,1,0,0,1,0,1,0,0
273,3,19.0,1,0,15.500000,0,1,0,0,1,0,0,1,0,1
274,3,18.0,0,0,7.225000,0,0,1,0,0,1,1,0,0,0
282,3,30.0,0,0,7.750000,0,1,0,0,1,0,0,1,0,1
286,3,32.0,0,0,7.250000,0,0,1,0,0,1,0,0,1,0
288,3,18.0,0,0,7.229200,0,0,1,0,0,1,1,0,0,0
289,3,20.0,0,0,8.050000,0,0,1,0,0,1,0,0,1,0
290,1,1.0,0,0,39.600000,0,0,1,0,0,1,0,0,1,1
292,3,18.0,0,0,7.229200,0,0,1,0,0,1,1,0,0,0
297,3,2.0,2,0,21.679200,0,0,1,0,0,1,1,0,0,0
301,2,40.0,0,0,15.045800,0,0,1,0,0,1,1,0,0,0
304,3,30.0,0,0,7.750000,0,1,0,0,1,0,0,1,0,1
312,3,22.0,0,0,7.575000,0,0,1,0,0,1,0,0,1,0
332,3,18.0,0,0,7.225000,0,0,1,0,0,1,1,0,0,0
339,3,18.0,0,0,7.229200,1,0,0,0,0,1,1,0,0,1
342,3,14.0,1,9,69.550000,0,0,1,0,0,1,0,0,1,0
344,3,0.0,1,1,14.500000,1,0,0,0,0,1,0,0,1,1
357,3,17.0,0,0,7.879200,0,0,1,0,0,1,0,0,1,0
358,3,21.0,0,0,7.750000,0,0,1,0,0,1,0,1,0,0
365,3,14.0,1,9,69.550000,0,0,0,1,1,0,0,0,1,0
366,3,6.0,1,0,14.458300,0,0,1,0,0,1,1,0,0,0
380,3,21.0,0,0,7.750000,0,0,1,0,0,1,0,1,0,0
382,3,19.0,0,0,14.500000,0,0,0,1,1,0,0,0,1,1
384,2,26.0,0,0,12.875000,0,0,1,0,0,1,0,0,1,0
408,3,30.0,0,0,7.720800,0,1,0,0,1,0,0,1,0,1
410,3,30.0,0,0,7.750000,0,1,0,0,1,0,0,1,0,1
413,3,20.0,0,0,8.050000,0,0,1,0,0,1,0,0,1,0
416,3,20.0,0,0,8.050000,0,0,1,0,0,1,0,0,1,0
417,3,2.0,1,1,22.358300,1,0,0,0,0,1,1,0,0,1

In [668]:
TestDataSet2['Survived'] = Predictions

In [669]:
Submission = TestDataSet2[['PassengerId','Survived']]

In [671]:
Submission

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         1
12           904         0
13           905         1
14           906         1
15           907         0
16           908         0
17           909         1
18           910         1
19           911         0
20           912         1
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         0
27           919         0
28           920         0
29           921         0
30           922         0
31           923         0
32           924         1
33           925         0
34           926         0
35           927         0
36           928         1
37           929         1
38           930         0
39           931         1
40           932         1
41           933         1
42           934         0
43           935         0
44           936         1
45           937         1
46           938         0
47           939         0
48           940         0
49           941         1
50           942         0
51           943         0
52           944         0
53           945         1
54           946         1
55           947         1
56           948         0
57           949         1
58           950         1
59           951         1
60           952         0
61           953         1
62           954         1
63           955         1
64           956         1
65           957         1
66           958         0
67           959         1
68           960         1
69           961         0
70           962         0
71           963         1
72           964         1
73           965         1
74           966         1
75           967         1
76           968         1
77           969         0
78           970         1
79           971         0
80           972         1
81           973         0
82           974         1
83           975         0
84           976         0
85           977         1
86           978         0
87           979         0
88           980         0
89           981         0
90           982         1
91           983         1
92           984         1
93           985         0
94           986         1
95           987         1
96           988         1
97           989         1
98           990         1
99           991         0
100          992         1
101          993         0
102          994         0
103          995         0
104          996         0
105          997         0
106          998         0
107          999         0
108         1000         0
109         1001         0
110         1002         1
111         1003         0
112         1004         0
113         1005         1
114         1006         0
115         1007         0
116         1008         0
117         1009         0
118         1010         0
119         1011         0
120         1012         1
121         1013         0
122         1014         1
123         1015         0
124         1016         0
125         1017         1
126         1018         1
127         1019         0
128         1020         1
129         1021         1
130         1022         1
131         1023         0
132         1024         1
133         1025         0
134         1026         0
135         1027         1
136         1028         0
137         1029         0
138         1030         0
139         1031         1
140         1032         1
141         1033         0
142         1034         1
143         1035         1
144         1036         0
145         1037         0
146         1038         1
147         1039         1
148         1040         0
149         1041         1
150         1042         0
151         1043         0
152         1044         0
153         1045         1
154         1046         0
155         1047         1
156         1048         0
157         1049         1
158         1050         1
159         1051         0
160         1052         1
161         1053         0
162         1054         1
163         1055         0
164         1056         1
165         1057         0
166         1058         1
167         1059         0
168         1060         0
169         1061         0
170         1062         1
171         1063         0
172         1064         0
173         1065         0
174         1066         1
175         1067         1
176         1068         0
177         1069         1
178         1070         0
179         1071         1
180         1072         0
181         1073         0
182         1074         0
183         1075         0
184         1076         1
185         1077         0
186         1078         0
187         1079         0
188         1080         0
189         1081         0
190         1082         1
191         1083         1
192         1084         1
193         1085         1
194         1086         0
195         1087         0
196         1088         1
197         1089         0
198         1090         1
199         1091         1
200         1092         0
201         1093         1
202         1094         0
203         1095         0
204         1096         0
205         1097         1
206         1098         0
207         1099         0
208         1100         0
209         1101         1
210         1102         1
211         1103         0
212         1104         0
213         1105         1
214         1106         1
215         1107         1
216         1108         0
217         1109         0
218         1110         0
219         1111         0
220         1112         1
221         1113         1
222         1114         1
223         1115         1
224         1116         0
225         1117         0
226         1118         1
227         1119         0
228         1120         0
229         1121         0
230         1122         1
231         1123         0
232         1124         0
233         1125         0
234         1126         0
235         1127         0
236         1128         1
237         1129         0
238         1130         1
239         1131         0
240         1132         1
241         1133         0
242         1134         0
243         1135         1
244         1136         1
245         1137         1
246         1138         0
247         1139         0
248         1140         0
249         1141         0
250         1142         0
251         1143         0
252         1144         0
253         1145         0
254         1146         1
255         1147         0
256         1148         1
257         1149         1
258         1150         0
259         1151         0
260         1152         1
261         1153         1
262         1154         1
263         1155         0
264         1156         0
265         1157         0
266         1158         0
267         1159         0
268         1160         0
269         1161         0
270         1162         1
271         1163         1
272         1164         0
273         1165         1
274         1166         0
275         1167         1
276         1168         1
277         1169         0
278         1170         0
279         1171         0
280         1172         0
281         1173         0
282         1174         1
283         1175         1
284         1176         0
285         1177         1
286         1178         1
287         1179         0
288         1180         1
289         1181         1
290         1182         1
291         1183         0
292         1184         0
293         1185         1
294         1186         0
295         1187         0
296         1188         1
297         1189         1
298         1190         0
299         1191         0
300         1192         0
301         1193         0
302         1194         0
303         1195         1
304         1196         1
305         1197         0
306         1198         0
307         1199         0
308         1200         0
309         1201         0
310         1202         1
311         1203         1
312         1204         0
313         1205         0
314         1206         1
315         1207         0
316         1208         1
317         1209         0
318         1210         0
319         1211         1
320         1212         0
321         1213         1
322         1214         0
323         1215         0
324         1216         0
325         1217         0
326         1218         0
327         1219         1
328         1220         1
329         1221         1
330         1222         1
331         1223         0
332         1224         0
333         1225         1
334         1226         0
335         1227         0
336         1228         1
337         1229         0
338         1230         0
339         1231         0
340         1232         0
341         1233         0
342         1234         1
343         1235         0
344         1236         0
345         1237         0
346         1238         0
347         1239         1
348         1240         0
349         1241         0
350         1242         0
351         1243         0
352         1244         0
353         1245         1
354         1246         0
355         1247         0
356         1248         0
357         1249         1
358         1250         0
359         1251         0
360         1252         0
361         1253         0
362         1254         0
363         1255         1
364         1256         0
365         1257         1
366         1258         0
367         1259         0
368         1260         0
369         1261         0
370         1262         0
371         1263         1
372         1264         1
373         1265         1
374         1266         0
375         1267         1
376         1268         0
377         1269         1
378         1270         1
379         1271         0
380         1272         0
381         1273         0
382         1274         1
383         1275         0
384         1276         0
385         1277         0
386         1278         0
387         1279         0
388         1280         1
389         1281         0
390         1282         1
391         1283         0
392         1284         1
393         1285         0
394         1286         0
395         1287         0
396         1288         1
397         1289         0
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         0
403         1295         1
404         1296         0
405         1297         1
406         1298         0
407         1299         0
408         1300         0
409         1301         0
410         1302         0
411         1303         1
412         1304         0
413         1305         1
414         1306         1
415         1307         0
416         1308         0
417         1309         1

In [672]:
Submission.to_csv('Submission2.csv')

In [362]:
TestDataSet

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.00,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.00,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.00,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.00,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.00,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.00,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.00,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.00,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.00,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.00,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.00,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.00,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.00,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.00,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.00,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.00,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.00,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.50,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.00,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
30,922,2,"Louch, Mr. Charles Alexander",male,50.00,1,0,SC/AH 3085,26.0000,NaN,S
31,923,2,"Jefferys, Mr. Clifford Thomas",male,24.00,2,0,C.A. 31029,31.5000,NaN,S
32,924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.00,1,2,C.A. 2315,20.5750,NaN,S
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
34,926,1,"Mock, Mr. Philipp Edmund",male,30.00,1,0,13236,57.7500,C78,C
35,927,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.50,0,0,2682,7.2292,NaN,C
36,928,3,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,S
37,929,3,"Cacic, Miss. Manda",female,21.00,0,0,315087,8.6625,NaN,S
38,930,3,"Sap, Mr. Julius",male,25.00,0,0,345768,9.5000,NaN,S
39,931,3,"Hee, Mr. Ling",male,NaN,0,0,1601,56.4958,NaN,S
40,932,3,"Karun, Mr. Franz",male,39.00,0,1,349256,13.4167,NaN,C
41,933,1,"Franklin, Mr. Thomas Parham",male,NaN,0,0,113778,26.5500,D34,S
42,934,3,"Goldsmith, Mr. Nathan",male,41.00,0,0,SOTON/O.Q. 3101263,7.8500,NaN,S
43,935,2,"Corbett, Mrs. Walter H (Irene Colvin)",female,30.00,0,0,237249,13.0000,NaN,S
44,936,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.00,1,0,11753,52.5542,D19,S
45,937,3,"Peltomaki, Mr. Nikolai Johannes",male,25.00,0,0,STON/O 2. 3101291,7.9250,NaN,S
46,938,1,"Chevre, Mr. Paul Romaine",male,45.00,0,0,PC 17594,29.7000,A9,C
47,939,3,"Shaughnessy, Mr. Patrick",male,NaN,0,0,370374,7.7500,NaN,Q
48,940,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.00,0,0,11813,76.2917,D15,C
49,941,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.00,0,2,C.A. 37671,15.9000,NaN,S
50,942,1,"Smith, Mr. Lucien Philip",male,24.00,1,0,13695,60.0000,C31,S
51,943,2,"Pulbaum, Mr. Franz",male,27.00,0,0,SC/PARIS 2168,15.0333,NaN,C
52,944,2,"Hocking, Miss. Ellen Nellie""""",female,20.00,2,1,29105,23.0000,NaN,S
53,945,1,"Fortune, Miss. Ethel Flora",female,28.00,3,2,19950,263.0000,C23 C25 C27,S
54,946,2,"Mangiavacchi, Mr. Serafino Emilio",male,NaN,0,0,SC/A.3 2861,15.5792,NaN,C
55,947,3,"Rice, Master. Albert",male,10.00,4,1,382652,29.1250,NaN,Q
56,948,3,"Cor, Mr. Bartol",male,35.00,0,0,349230,7.8958,NaN,S
57,949,3,"Abelseth, Mr. Olaus Jorgensen",male,25.00,0,0,348122,7.6500,F G63,S
58,950,3,"Davison, Mr. Thomas Henry",male,NaN,1,0,386525,16.1000,NaN,S
59,951,1,"Chaudanson, Miss. Victorine",female,36.00,0,0,PC 17608,262.3750,B61,C
60,952,3,"Dika, Mr. Mirko",male,17.00,0,0,349232,7.8958,NaN,S
61,953,2,"McCrae, Mr. Arthur Gordon",male,32.00,0,0,237216,13.5000,NaN,S
62,954,3,"Bjorklund, Mr. Ernst Herbert",male,18.00,0,0,347090,7.7500,NaN,S
63,955,3,"Bradley, Miss. Bridget Delia",female,22.00,0,0,334914,7.7250,NaN,Q
64,956,1,"Ryerson, Master. John Borie",male,13.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
65,957,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...",female,NaN,0,0,F.C.C. 13534,21.0000,NaN,S
66,958,3,"Burns, Miss. Mary Delia",female,18.00,0,0,330963,7.8792,NaN,Q
67,959,1,"Moore, Mr. Clarence Bloomfield",male,47.00,0,0,113796,42.4000,NaN,S
68,960,1,"Tucker, Mr. Gilbert Milligan Jr",male,31.00,0,0,2543,28.5375,C53,C
69,961,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.00,1,4,19950,263.0000,C23 C25 C27,S
70,962,3,"Mulvihill, Miss. Bertha E",female,24.00,0,0,382653,7.7500,NaN,Q
71,963,3,"Minkoff, Mr. Lazar",male,21.00,0,0,349211,7.8958,NaN,S
72,964,3,"Nieminen, Miss. Manta Josefina",female,29.00,0,0,3101297,7.9250,NaN,S
73,965,1,"Ovies y Rodriguez, Mr. Servando",male,28.50,0,0,PC 17562,27.7208,D43,C
74,966,1,"Geiger, Miss. Amalie",female,35.00,0,0,113503,211.5000,C130,C
75,967,1,"Keeping, Mr. Edwin",male,32.50,0,0,113503,211.5000,C132,C
76,968,3,"Miles, Mr. Frank",male,NaN,0,0,359306,8.0500,NaN,S
77,969,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.00,2,0,11770,25.7000,C101,S
78,970,2,"Aldworth, Mr. Charles Augustus",male,30.00,0,0,248744,13.0000,NaN,S
79,971,3,"Doyle, Miss. Elizabeth",female,24.00,0,0,368702,7.7500,NaN,Q
80,972,3,"Boulos, Master. Akar",male,6.00,1,1,2678,15.2458,NaN,C
81,973,1,"Straus, Mr. Isidor",male,67.00,1,0,PC 17483,221.7792,C55 C57,S
82,974,1,"Case, Mr. Howard Brown",male,49.00,0,0,19924,26.0000,NaN,S
83,975,3,"Demetri, Mr. Marinko",male,NaN,0,0,349238,7.8958,NaN,S
84,976,2,"Lamb, Mr. John Joseph",male,NaN,0,0,240261,10.7083,NaN,Q
85,977,3,"Khalil, Mr. Betros",male,NaN,1,0,2660,14.4542,NaN,C
86,978,3,"Barry, Miss. Julia",female,27.00,0,0,330844,7.8792,NaN,Q
87,979,3,"Badman, Miss. Emily Louisa",female,18.00,0,0,A/4 31416,8.0500,NaN,S
88,980,3,"O'Donoghue, Ms. Bridget",female,NaN,0,0,364856,7.7500,NaN,Q
89,981,2,"Wells, Master. Ralph Lester",male,2.00,1,1,29103,23.0000,NaN,S
90,982,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",female,22.00,1,0,347072,13.9000,NaN,S
91,983,3,"Pedersen, Mr. Olaf",male,NaN,0,0,345498,7.7750,NaN,S
92,984,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.00,1,2,F.C. 12750,52.0000,B71,S
93,985,3,"Guest, Mr. Robert",male,NaN,0,0,376563,8.0500,NaN,S
94,986,1,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000,NaN,C
95,987,3,"Tenglin, Mr. Gunnar Isidor",male,25.00,0,0,350033,7.7958,NaN,S
96,988,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.00,1,0,19877,78.8500,C46,S
97,989,3,"Makinen, Mr. Kalle Edvard",male,29.00,0,0,STON/O 2. 3101268,7.9250,NaN,S
98,990,3,"Braf, Miss. Elin Ester Maria",female,20.00,0,0,347471,7.8542,NaN,S
99,991,3,"Nancarrow, Mr. William Henry",male,33.00,0,0,A./5. 3338,8.0500,NaN,S
100,992,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",female,43.00,1,0,11778,55.4417,C116,C
101,993,2,"Weisz, Mr. Leopold",male,27.00,1,0,228414,26.0000,NaN,S
102,994,3,"Foley, Mr. William",male,NaN,0,0,365235,7.7500,NaN,Q
103,995,3,"Johansson Palmquist, Mr. Oskar Leander",male,26.00,0,0,347070,7.7750,NaN,S
104,996,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16.00,1,1,2625,8.5167,NaN,C
105,997,3,"Holthen, Mr. Johan Martin",male,28.00,0,0,C 4001,22.5250,NaN,S
106,998,3,"Buckley, Mr. Daniel",male,21.00,0,0,330920,7.8208,NaN,Q
107,999,3,"Ryan, Mr. Edward",male,NaN,0,0,383162,7.7500,NaN,Q
108,1000,3,"Willer, Mr. Aaron (Abi Weller"")""",male,NaN,0,0,3410,8.7125,NaN,S
109,1001,2,"Swane, Mr. George",male,18.50,0,0,248734,13.0000,F,S
110,1002,2,"Stanton, Mr. Samuel Ward",male,41.00,0,0,237734,15.0458,NaN,C
111,1003,3,"Shine, Miss. Ellen Natalia",female,NaN,0,0,330968,7.7792,NaN,Q
112,1004,1,"Evans, Miss. Edith Corse",female,36.00,0,0,PC 17531,31.6792,A29,C
113,1005,3,"Buckley, Miss. Katherine",female,18.50,0,0,329944,7.2833,NaN,Q
114,1006,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.00,1,0,PC 17483,221.7792,C55 C57,S
115,1007,3,"Chronopoulos, Mr. Demetrios",male,18.00,1,0,2680,14.4542,NaN,C
116,1008,3,"Thomas, Mr. John",male,NaN,0,0,2681,6.4375,NaN,C
117,1009,3,"Sandstrom, Miss. Beatrice Irene",female,1.00,1,1,PP 9549,16.7000,G6,S
118,1010,1,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417,C6,C
119,1011,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,29.00,1,0,SC/AH 29037,26.0000,NaN,S
120,1012,2,"Watt, Miss. Bertha J",female,12.00,0,0,C.A. 33595,15.7500,NaN,S
121,1013,3,"Kiernan, Mr. John",male,NaN,1,0,367227,7.7500,NaN,Q
122,1014,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.00,1,0,13236,57.7500,C28,C
123,1015,3,"Carver, Mr. Alfred John",male,28.00,0,0,392095,7.2500,NaN,S
124,1016,3,"Kennedy, Mr. John",male,NaN,0,0,368783,7.7500,NaN,Q
125,1017,3,"Cribb, Miss. Laura Alice",female,17.00,0,1,371362,16.1000,NaN,S
126,1018,3,"Brobeck, Mr. Karl Rudolf",male,22.00,0,0,350045,7.7958,NaN,S
127,1019,3,"McCoy, Miss. Alicia",female,NaN,2,0,367226,23.2500,NaN,Q
128,1020,2,"Bowenur, Mr. Solomon",male,42.00,0,0,211535,13.0000,NaN,S
129,1021,3,"Petersen, Mr. Marius",male,24.00,0,0,342441,8.0500,NaN,S
130,1022,3,"Spinner, Mr. Henry John",male,32.00,0,0,STON/OQ. 369943,8.0500,NaN,S
131,1023,1,"Gracie, Col. Archibald IV",male,53.00,0,0,113780,28.5000,C51,C
132,1024,3,"Lefebre, Mrs. Frank (Frances)",female,NaN,0,4,4133,25.4667,NaN,S
133,1025,3,"Thomas, Mr. Charles P",male,NaN,1,0,2621,6.4375,NaN,C
134,1026,3,"Dintcheff, Mr. Valtcho",male,43.00,0,0,349226,7.8958,NaN,S
135,1027,3,"Carlsson, Mr. Carl Robert",male,24.00,0,0,350409,7.8542,NaN,S
136,1028,3,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,NaN,C
137,1029,2,"Schmidt, Mr. August",male,26.00,0,0,248659,13.0000,NaN,S
138,1030,3,"Drapkin, Miss. Jennie",female,23.00,0,0,SOTON/OQ 392083,8.0500,NaN,S
139,1031,3,"Goodwin, Mr. Charles Frederick",male,40.00,1,6,CA 2144,46.9000,NaN,S
140,1032,3,"Goodwin, Miss. Jessie Allis",female,10.00,5,2,CA 2144,46.9000,NaN,S
141,1033,1,"Daniels, Miss. Sarah",female,33.00,0,0,113781,151.5500,NaN,S
142,1034,1,"Ryerson, Mr. Arthur Larned",male,61.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
143,1035,2,"Beauchamp, Mr. Henry James",male,28.00,0,0,244358,26.0000,NaN,S
144,1036,1,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin...",male,42.00,0,0,17475,26.5500,NaN,S
145,1037,3,"Vander Planke, Mr. Julius",male,31.00,3,0,345763,18.0000,NaN,S
146,1038,1,"Hilliard, Mr. Herbert Henry",male,NaN,0,0,17463,51.8625,E46,S
147,1039,3,"Davies, Mr. Evan",male,22.00,0,0,SC/A4 23568,8.0500,NaN,S
148,1040,1,"Crafton, Mr. John Bertram",male,NaN,0,0,113791,26.5500,NaN,S
149,1041,2,"Lahtinen, Rev. William",male,30.00,1,1,250651,26.0000,NaN,S
150,1042,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23.00,0,1,11767,83.1583,C54,C
151,1043,3,"Matinoff, Mr. Nicola",male,NaN,0,0,349255,7.8958,NaN,C
152,1044,3,"Storey, Mr. Thomas",male,60.50,0,0,3701,NaN,NaN,S
153,1045,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.00,0,2,350405,12.1833,NaN,S
154,1046,3,"Asplund, Master. Filip Oscar",male,13.00,4,2,347077,31.3875,NaN,S
155,1047,3,"Duquemin, Mr. Joseph",male,24.00,0,0,S.O./P.P. 752,7.5500,NaN,S
156,1048,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221.7792,C97,S
157,1049,3,"Lundin, Miss. Olga Elida",female,23.00,0,0,347469,7.8542,NaN,S
158,1050,1,"Borebank, Mr. John James",male,42.00,0,0,110489,26.5500,D22,S
159,1051,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.00,0,2,SOTON/O.Q. 3101315,13.7750,NaN,S
160,1052,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,Q
161,1053,3,"Touma, Master. Georges Youssef",male,7.00,1,1,2650,15.2458,NaN,C
162,1054,2,"Wright, Miss. Marion",female,26.00,0,0,220844,13.5000,NaN,S
163,1055,3,"Pearce, Mr. Ernest",male,NaN,0,0,343271,7.0000,NaN,S
164,1056,2,"Peruschitz, Rev. Joseph Maria",male,41.00,0,0,237393,13.0000,NaN,S
165,1057,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.00,1,1,315153,22.0250,NaN,S
166,1058,1,"Brandeis, Mr. Emil",male,48.00,0,0,PC 17591,50.4958,B10,C
167,1059,3,"Ford, Mr. Edward Watson",male,18.00,2,2,W./C. 6608,34.3750,NaN,S
168,1060,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C
169,1061,3,"Hellstrom, Miss. Hilda Maria",female,22.00,0,0,7548,8.9625,NaN,S
170,1062,3,"Lithman, Mr. Simon",male,NaN,0,0,S.O./P.P. 251,7.5500,NaN,S
171,1063,3,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,NaN,C
172,1064,3,"Dyker, Mr. Adolf Fredrik",male,23.00,1,0,347072,13.9000,NaN,S
173,1065,3,"Torfa, Mr. Assad",male,NaN,0,0,2673,7.2292,NaN,C
174,1066,3,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",male,40.00,1,5,347077,31.3875,NaN,S
175,1067,2,"Brown, Miss. Edith Eileen",female,15.00,0,2,29750,39.0000,NaN,S
176,1068,2,"Sincock, Miss. Maude",female,20.00,0,0,C.A. 33112,36.7500,NaN,S
177,1069,1,"Stengel, Mr. Charles Emil Henry",male,54.00,1,0,11778,55.4417,C116,C
178,1070,2,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.00,0,3,230136,39.0000,F4,S
179,1071,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.00,0,2,PC 17756,83.1583,E45,C
180,1072,2,"McCrie, Mr. James Matthew",male,30.00,0,0,233478,13.0000,NaN,S
181,1073,1,"Compton, Mr. Alexander Taylor Jr",male,37.00,1,1,PC 17756,83.1583,E52,C
182,1074,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",female,18.00,1,0,113773,53.1000,D30,S
183,1075,3,"Lane, Mr. Patrick",male,NaN,0,0,7935,7.7500,NaN,Q
184,1076,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.00,1,1,PC 17558,247.5208,B58 B60,C
185,1077,2,"Maybery, Mr. Frank Hubert",male,40.00,0,0,239059,16.0000,NaN,S
186,1078,2,"Phillips, Miss. Alice Frances Louisa",female,21.00,0,1,S.O./P.P. 2,21.0000,NaN,S
187,1079,3,"Davies, Mr. Joseph",male,17.00,2,0,A/4 48873,8.0500,NaN,S
188,1080,3,"Sage, Miss. Ada",female,NaN,8,2,CA. 2343,69.5500,NaN,S
189,1081,2,"Veal, Mr. James",male,40.00,0,0,28221,13.0000,NaN,S
190,1082,2,"Angle, Mr. William A",male,34.00,1,0,226875,26.0000,NaN,S
191,1083,1,"Salomon, Mr. Abraham L",male,NaN,0,0,111163,26.0000,NaN,S
192,1084,3,"van Billiard, Master. Walter John",male,11.50,1,1,A/5. 851,14.5000,NaN,S
193,1085,2,"Lingane, Mr. John",male,61.00,0,0,235509,12.3500,NaN,Q
194,1086,2,"Drew, Master. Marshall Brines",male,8.00,0,2,28220,32.5000,NaN,S
195,1087,3,"Karlsson, Mr. Julius Konrad Eugen",male,33.00,0,0,347465,7.8542,NaN,S
196,1088,1,"Spedden, Master. Robert Douglas",male,6.00,0,2,16966,134.5000,E34,C
197,1089,3,"Nilsson, Miss. Berta Olivia",female,18.00,0,0,347066,7.7750,NaN,S
198,1090,2,"Baimbrigge, Mr. Charles Robert",male,23.00,0,0,C.A. 31030,10.5000,NaN,S
199,1091,3,"Rasmussen, Mrs. (Lena Jacobsen Solvang)",female,NaN,0,0,65305,8.1125,NaN,S
200,1092,3,"Murphy, Miss. Nora",female,NaN,0,0,36568,15.5000,NaN,Q
201,1093,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,347080,14.4000,NaN,S
202,1094,1,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250,C62 C64,C
203,1095,2,"Quick, Miss. Winifred Vera",female,8.00,1,1,26360,26.0000,NaN,S
204,1096,2,"Andrew, Mr. Frank Thomas",male,25.00,0,0,C.A. 34050,10.5000,NaN,S
205,1097,1,"Omont, Mr. Alfred Fernand",male,NaN,0,0,F.C. 12998,25.7417,NaN,C
206,1098,3,"McGowan, Miss. Katherine",female,35.00,0,0,9232,7.7500,NaN,Q
207,1099,2,"Collett, Mr. Sidney C Stuart",male,24.00,0,0,28034,10.5000,NaN,S
208,1100,1,"Rosenbaum, Miss. Edith Louise",female,33.00,0,0,PC 17613,27.7208,A11,C
209,1101,3,"Delalic, Mr. Redjo",male,25.00,0,0,349250,7.8958,NaN,S
210,1102,3,"Andersen, Mr. Albert Karvin",male,32.00,0,0,C 4001,22.5250,NaN,S
211,1103,3,"Finoli, Mr. Luigi",male,NaN,0,0,SOTON/O.Q. 3101308,7.0500,NaN,S
212,1104,2,"Deacon, Mr. Percy William",male,17.00,0,0,S.O.C. 14879,73.5000,NaN,S
213,1105,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.00,1,0,24065,26.0000,NaN,S
214,1106,3,"Andersson, Miss. Ida Augusta Margareta",female,38.00,4,2,347091,7.7750,NaN,S
215,1107,1,"Head, Mr. Christopher",male,42.00,0,0,113038,42.5000,B11,S
216,1108,3,"Mahon, Miss. Bridget Delia",female,NaN,0,0,330924,7.8792,NaN,Q
217,1109,1,"Wick, Mr. George Dennick",male,57.00,1,1,36928,164.8667,NaN,S
218,1110,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.00,1,1,113503,211.5000,C80,C
219,1111,3,"Thomson, Mr. Alexander Morrison",male,NaN,0,0,32302,8.0500,NaN,S
220,1112,2,"Duran y More, Miss. Florentina",female,30.00,1,0,SC/PARIS 2148,13.8583,NaN,C
221,1113,3,"Reynolds, Mr. Harold J",male,21.00,0,0,342684,8.0500,NaN,S
222,1114,2,"Cook, Mrs. (Selena Rogers)",female,22.00,0,0,W./C. 14266,10.5000,F33,S
223,1115,3,"Karlsson, Mr. Einar Gervasius",male,21.00,0,0,350053,7.7958,NaN,S
224,1116,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.00,0,0,PC 17606,27.4458,NaN,C
225,1117,3,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",female,NaN,0,2,2661,15.2458,NaN,C
226,1118,3,"Asplund, Mr. Johan Charles",male,23.00,0,0,350054,7.7958,NaN,S
227,1119,3,"McNeill, Miss. Bridget",female,NaN,0,0,370368,7.7500,NaN,Q
228,1120,3,"Everett, Mr. Thomas James",male,40.50,0,0,C.A. 6212,15.1000,NaN,S
229,1121,2,"Hocking, Mr. Samuel James Metcalfe",male,36.00,0,0,242963,13.0000,NaN,S
230,1122,2,"Sweet, Mr. George Frederick",male,14.00,0,0,220845,65.0000,NaN,S
231,1123,1,"Willard, Miss. Constance",female,21.00,0,0,113795,26.5500,NaN,S
232,1124,3,"Wiklund, Mr. Karl Johan",male,21.00,1,0,3101266,6.4958,NaN,S
233,1125,3,"Linehan, Mr. Michael",male,NaN,0,0,330971,7.8792,NaN,Q
234,1126,1,"Cumings, Mr. John Bradley",male,39.00,1,0,PC 17599,71.2833,C85,C
235,1127,3,"Vendel, Mr. Olof Edvin",male,20.00,0,0,350416,7.8542,NaN,S
236,1128,1,"Warren, Mr. Frank Manley",male,64.00,1,0,110813,75.2500,D37,C
237,1129,3,"Baccos, Mr. Raffull",male,20.00,0,0,2679,7.2250,NaN,C
238,1130,2,"Hiltunen, Miss. Marta",female,18.00,1,1,250650,13.0000,NaN,S
239,1131,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.00,1,0,PC 17761,106.4250,C86,C
240,1132,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.00,0,0,112377,27.7208,NaN,C
241,1133,2,"Christy, Mrs. (Alice Frances)",female,45.00,0,2,237789,30.0000,NaN,S
242,1134,1,"Spedden, Mr. Frederic Oakley",male,45.00,1,1,16966,134.5000,E34,C
243,1135,3,"Hyman, Mr. Abraham",male,NaN,0,0,3470,7.8875,NaN,S
244,1136,3,"Johnston, Master. William Arthur Willie""""",male,NaN,1,2,W./C. 6607,23.4500,NaN,S
245,1137,1,"Kenyon, Mr. Frederick R",male,41.00,1,0,17464,51.8625,D21,S
246,1138,2,"Karnes, Mrs. J Frank (Claire Bennett)",female,22.00,0,0,F.C.C. 13534,21.0000,NaN,S
247,1139,2,"Drew, Mr. James Vivian",male,42.00,1,1,28220,32.5000,NaN,S
248,1140,2,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,29.00,1,0,26707,26.0000,NaN,S
249,1141,3,"Khalil, Mrs. Betros (Zahie Maria"" Elias)""",female,NaN,1,0,2660,14.4542,NaN,C
250,1142,2,"West, Miss. Barbara J",female,0.92,1,2,C.A. 34651,27.7500,NaN,S
251,1143,3,"Abrahamsson, Mr. Abraham August Johannes",male,20.00,0,0,SOTON/O2 3101284,7.9250,NaN,S
252,1144,1,"Clark, Mr. Walter Miller",male,27.00,1,0,13508,136.7792,C89,C
253,1145,3,"Salander, Mr. Karl Johan",male,24.00,0,0,7266,9.3250,NaN,S
254,1146,3,"Wenzel, Mr. Linhart",male,32.50,0,0,345775,9.5000,NaN,S
255,1147,3,"MacKay, Mr. George William",male,NaN,0,0,C.A. 42795,7.5500,NaN,S

In [47]:
#Fill null age values with mean
df3['Age'] = df3['Age'].fillna((df3['Age'].mean()))

In [292]:
df3.shape

(889, 9)

In [59]:
df3.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [86]:
#To handle cabin null values i have 4 methods
#1st delete those rows --> as i can't because number of null values are more
# replace with most occured category --> not possible as there are more number of categories
# create predictive model --> possible
#Create cluster --> not possible

DFCabin = df3.copy()

In [87]:
DFCabin

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,7.7500,NaN,Q

In [88]:
#Removed named fromd ataset and move cabin to first col
DFCabin = DFCabin[['Cabin','Survived','Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]

In [89]:
DFCabin.shape

(891, 9)

In [90]:
#Drop complete row where embarked is null
DFCabin = DFCabin.dropna(subset=['Embarked'])

In [91]:
DFCabin.shape

(889, 9)

In [92]:
DFCabin.isnull().sum()

Cabin       687
Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [97]:
#Can be treat as train dataset
DFCabinTrain = DFCabin[DFCabin['Cabin'].notna()]
DFCabinTest = DFCabin[DFCabin['Cabin'].isna()]

In [99]:
DFCabinTrain.shape

(202, 9)

In [100]:
DFCabinTest.shape

(687, 9)

In [101]:
DFCabinTrain.isnull().sum()

Cabin       0
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [102]:
DFCabinTest.isnull().sum()

Cabin       687
Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [ ]:
#----I have train dataset which is cleaned now i create model and give test data to predict the result---

In [103]:
#Get dummies for categorical vairables
DFCabinTrain2 = pd.get_dummies(DFCabinTrain)

In [105]:
DFCabinTrain2.shape

(202, 157)

In [118]:
from sklearn.model_selection import train_test_split
train , test = train_test_split(DFCabinTrain2, test_size = 0.3)

In [112]:
DFCabinDV = DFCabin['Cabin']

In [113]:
DFCabinDV

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 889, dtype: object

In [114]:
DFCabinIndV = DFCabin.drop(['Cabin'], axis = 'columns')

In [71]:
DFCabinIndV

     Survived  Pclass     Sex        Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.000000      1      0   7.2500        S
1           1       1  female  38.000000      1      0  71.2833        C
2           1       3  female  26.000000      0      0   7.9250        S
3           1       1  female  35.000000      1      0  53.1000        S
4           0       3    male  35.000000      0      0   8.0500        S
..        ...     ...     ...        ...    ...    ...      ...      ...
886         0       2    male  27.000000      0      0  13.0000        S
887         1       1  female  19.000000      0      0  30.0000        S
888         0       3  female  29.699118      1      2  23.4500        S
889         1       1    male  26.000000      0      0  30.0000        C
890         0       3    male  32.000000      0      0   7.7500        Q

[891 rows x 8 columns]

In [73]:
#Build knearest algorithm
#The entire training dataset is stored. When a prediction is required, 
#the k-most similar records to a new record from the training dataset are then located. 
#From these neighbors, a summarized prediction is made.

In [74]:
#https://machinelearningmastery.com/tutorial-to-implement-k-nearest-neighbors-in-python-from-scratch/

In [82]:
DFCabin.isnull().sum()

Cabin       687
Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [ ]:
DFCabinIV.dropna(subset=[1])